/* @group Banner Cerveza Aguila */

/* @end */

.aguila .view-banner-cerveza {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 30%;
	height: 350px;
	border-bottom: 6px solid #fff;
}

.aguila .views-field-field-texto-banner,
.aguila .favoritos-content-type,
.aguila .views-field-nothing span {
	float: right;
	clear: both;
	width: 40%;
}

.aguila .favoritos-content-type-wrapper,
.aguila .views-field-nothing span {
	font-style: italic;
	font-family: Dubiel, Georgia, Times, serif;
	color: #000;
}

.aguila .views-field-nothing span {
	font-size: 25px;
	line-height: 1.5em;
	padding: 0 0 0 20px;
	margin: 23px 0 0;
	background: url('../images/sprite-categories.png') -174px -205px no-repeat;
}

.aguila .views-field-field-texto-banner {
	font: 700 27px/1em 'ITCAvantGardePro', Helvetica, Arial sans-serif;
	color: #5f2d00;
}

.aguila .views-field-field-texto-banner span {
	color: #3c1c00;
}

.aguila .favoritos-content-type-wrapper {
	font-size: 14px;
}

.aguila .favoritos-content-type-wrappe .flag-wrapper {
	text-align: center;
}

.aguila .compartir {
	width: 36%;
	float: right;
	clear: both;
}

.aguila .compartir span {
	font: 600 14px 'Open Sans', Arial, sans-serif;
}

.aguila .compartir a {
	padding: 0 0 0 16px;
	text-indent: -9999px;
	display: inline-block;
}

.aguila .compartir .twitter {
	background: url('../images/sprite-social.png') -89px -92px no-repeat;
}

.aguila .compartir .facebook {
	background: url('../images/sprite-social.png') -92px -130px no-repeat;
}

/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

	.favoritos-content-type .flag-counter {
		padding: 0 10px 0 0;
		word-wrap: break-word;
		line-height: 1.2em;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

	.aguila .views-field-nothing span {
		margin: 105px 0 0;
	}

	.aguila .favoritos-content-type-wrapper span {
		float: left;
	}

	.aguila .favoritos-content-type-wrapper .flag-counter {
		padding: 0 0 0 10px;
		line-height: 50px;
	}

	.aguila .compartir {
		width: 40%;
	}

	.aguila .compartir a {
		margin: 0 0 0 5px;
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.aguila .views-field-field-texto-banner,
	.aguila .favoritos-content-type,
	.aguila .compartir,
	.aguila .views-field-nothing span {
		width: 52%;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.aguila .view-banner-cerveza {
		background-position: center;
	}

	.aguila .views-field-nothing span {
		margin: 96px 0 0;
		font-size: 32px;
		line-height: 1em;
	}
	
	.aguila .views-field-field-texto-banner,
	.aguila .favoritos-content-type,
	.aguila .compartir,
	.aguila .views-field-nothing span {
		width: 58%;
	}

	.aguila .views-field-field-texto-banner {
		font-size: 48px;
	}

	.aguila .favoritos-content-type {
		margin: 8px 0 10px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
	.aguila .view-banner-cerveza {
		height: 466px;
	}

	.aguila .views-field-field-texto-banner, 
	.aguila .favoritos-content-type, 
	.aguila .compartir, 
	.aguila .views-field-nothing span {
		width: 60%;
	}

	.aguila .views-field-nothing span {
		font-size: 36px;
		margin: 123px 0 0;
	}

	.aguila .views-field-field-texto-banner {
		font-size: 77px;
	}

	.aguila .favoritos-content-type {
		margin: 6px 0 18px;
	}

}
/* @end */
