/* @group Banner Cervezas */

.view-banner-cervezas {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper-footer .stack.stack-prefooter {
    padding: 0;
}

.view-banner-cervezas ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 27px;
}

.view-banner-cervezas li {
    display: inline-block;
    width: 100%;
    margin:0;
    position: relative;
    height: 165px;
}

.view-banner-cervezas a:link,
.view-banner-cervezas a:active,
.view-banner-cervezas a:visited,
.view-banner-cervezas a:hover {
    text-decoration:none;
    color: #484848;
}

.view-banner-cervezas .celeste a:link,
.view-banner-cervezas .celeste a:active,
.view-banner-cervezas .celeste a:visited,
.view-banner-cervezas .celeste a:hover {
    color: #fff;
}

.view-banner-cervezas .views-field-field-imagen-botella {
    padding: 12px 9.5%;
}

.view-banner-cervezas .views-field-field-imagen-botella img {
    height:140px;
    width: auto;
}


.view-banner-cervezas .views-field-field-cerveza-descripcion-corta {
    position: absolute;
    left: 34%;
    top: 40px;
    width: 60%;
    font-family: "Open Sans";
}

.view-banner-cervezas .views-field-field-cerveza-descripcion-corta p:first-child {
    text-transform: uppercase;
    margin-bottom: -1px;
    /* font-family: "Retina Display"; */
}
.view-banner-cervezas .views-field-field-cerveza-descripcion-corta p strong {
    font-size: 25px;
    line-height: 23px;
    letter-spacing: -0.5px;
}

.view-banner-cervezas .views-field-field-cerveza-descripcion-corta p span {
    letter-spacing: -0.4px;
}

.view-banner-cervezas .amarillo {
    background: rgb(220,194,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(220,194,0,1) 0%, rgba(255,246,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220,194,0,1)), color-stop(100%,rgba(255,246,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(220,194,0,1) 0%,rgba(255,246,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(220,194,0,1) 0%,rgba(255,246,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(220,194,0,1) 0%,rgba(255,246,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(220,194,0,1) 0%,rgba(255,246,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcc200', endColorstr='#fff600',GradientType=0 ); /* IE6-9 */
}

.view-banner-cervezas .vainilla {
    background: rgb(207,194,143); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(207,194,143,1) 0%, rgba(255,240,179,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,194,143,1)), color-stop(100%,rgba(255,240,179,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(207,194,143,1) 0%,rgba(255,240,179,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(207,194,143,1) 0%,rgba(255,240,179,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(207,194,143,1) 0%,rgba(255,240,179,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(207,194,143,1) 0%,rgba(255,240,179,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfc28f', endColorstr='#fff0b3',GradientType=0 ); /* IE6-9 */
}

.view-banner-cervezas .celeste {
    color: #fff;
    background: rgb(0,112,191); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,112,191,1) 0%, rgba(149,211,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,112,191,1)), color-stop(100%,rgba(149,211,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,112,191,1) 0%,rgba(149,211,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,112,191,1) 0%,rgba(149,211,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,112,191,1) 0%,rgba(149,211,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,112,191,1) 0%,rgba(149,211,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070bf', endColorstr='#95d3ff',GradientType=0 ); /* IE6-9 */
}

/* @end */

/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .view-banner-cervezas li {
        width: 33.3%;
        float:left;
    }

    .view-banner-cervezas .views-field-field-imagen-botella img {
        height: auto;
    }

    .view-banner-cervezas li {
        height: 240px;
    }

    .view-banner-cervezas .views-field-field-cerveza-descripcion-corta {
        left: 35%;
        top: 67px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* @end */