/* @group Calendario Chicas Aguila */

#block-views-calendario-chicas-aguila-block {
    background: -moz-linear-gradient(top,  rgba(70,206,252,1) 0%, rgba(70,206,252,0) 45%, rgba(70,206,252,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(70,206,252,1)), color-stop(45%,rgba(70,206,252,0)), color-stop(100%,rgba(70,206,252,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(70,206,252,1) 0%,rgba(70,206,252,0) 45%,rgba(70,206,252,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(70,206,252,1) 0%,rgba(70,206,252,0) 45%,rgba(70,206,252,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(70,206,252,1) 0%,rgba(70,206,252,0) 45%,rgba(70,206,252,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(70,206,252,1) 0%,rgba(70,206,252,0) 45%,rgba(70,206,252,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46cefc', endColorstr='#0046cefc',GradientType=0 ); /* IE6-9 */
}

#block-views-calendario-chicas-aguila-block .view-calendario-chicas-aguila {
    margin: 0 auto;
}

.calendario-chicas-aguila .date-nav-wrapper .date-heading {
    text-align: right;
    padding-right: 106px;
    margin-top: 15px;
}

.calendario-chicas-aguila .date-nav-wrapper .date-heading h3 {
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 28px;
    text-align: right;
}

#block-views-calendario-chicas-aguila-block .calendario-chicas-aguila .date-nav-wrapper .date-prev {
    left: auto;
    right: 73px;
}

#block-views-calendario-chicas-aguila-block .calendario-chicas-aguila .date-nav-wrapper .date-next {
    right: 38px;
}

#block-views-calendario-chicas-aguila-block .calendario-chicas-aguila .date-nav-wrapper .date-prev,
#block-views-calendario-chicas-aguila-block .calendario-chicas-aguila .date-nav-wrapper .date-next {
    background: none;
    margin: 0;
    padding: 0;
}

#block-views-calendario-chicas-aguila-block .calendario-chicas-aguila .date-nav-wrapper .date-prev a,
#block-views-calendario-chicas-aguila-block .calendario-chicas-aguila .date-nav-wrapper .date-next a {
    width: 40px;
    height: 30px;
    cursor: pointer;
    text-indent: -9999px;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    text-align: left;
    position: absolute;
    top: 0;
}

#block-views-calendario-chicas-aguila-block .calendario-chicas-aguila .date-nav-wrapper .date-nav {
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0.7em;
}

#block-views-calendario-chicas-aguila-block .calendario-chicas-aguila .date-nav-wrapper .date-prev a {
    background: transparent no-repeat center center url(../images/dzscalendar/arrowline-left-simple.png);
}

#block-views-calendario-chicas-aguila-block .calendario-chicas-aguila .date-nav-wrapper .date-next a {
    background: transparent no-repeat center center url(../images/dzscalendar/arrowline-right-simple.png);
}

.banner-calendario-chicas-aguila {
    color: #fff;
    font-size: 15px;
    font-family: "Open Sans";
    position: relative;
    width: 100%;
    min-height: 330px;
}

.banner-calendario-chicas-aguila .media-thumbnail-frame {
    position: absolute;
    top: 15px;
    right: 0;
    max-width: 40%;

}

.banner-calendario-chicas-aguila .content p {
    width: 55%;
    max-width: 370px;
    line-height: 1.5 !important;
}


.banner-calendario-chicas-aguila h2 {
    display: none;
}

.banner-calendario-chicas-aguila h3,
.banner-calendario-chicas-aguila h4 {
    font-family: 'ITCAvantGardePro', Helvetica, Arial sans-serif;
    color: #fff;
    font-size: 55px;
    line-height: 1 !important;
    margin-top: 0;
    margin-bottom: 23px;
}

.banner-calendario-chicas-aguila h3 em,
.banner-calendario-chicas-aguila h3 strong,
.banner-calendario-chicas-aguila h4 em,
.banner-calendario-chicas-aguila h4 strong {
    font-family: Dubiel, Georgia, Times, serif;
    color: #fff;
    font-size: 30px;
}

.calendario-chicas-aguila {
    max-width: 1065px;
    padding: 25px 30px 30px;
}

.calendar-calendar table {
    width: 100% !important;
}

.calendar-calendar table tr td,
.calendar-calendar table tr th {
    width: 14.2% !important;
}

.calendar-calendar tr.date-box td .inner,
.calendar-calendar .month-view .full tr.date-box .inner,
.calendar-calendar .month-view .full tr.date-box td .inner {
    height: 35px !important;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

.calendar-calendar .month-view .full tr.date-box td {
    height: 1px !important;
    max-height: 1px !important;
    padding: 0;
    margin: 0;
}

.calendar-calendar tr.date-box td .inner {
    padding: 10px 14px 0;
}

.calendar-calendar tr.single-day td .inner,
.calendar-calendar .month-view .full tr.single-day .no-entry,
.calendar-calendar .month-view .full tr.single-day .no-entry .inner {
    height: 121px !important;
    min-height: 121px;
}

.calendar-calendar .views-field-field-imagen img {
    width: 100%;
}

.calendar-calendar table,
.calendar-calendar th.days {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #000;
}

.calendar-calendar .month-view .full td.single-day .calendar-empty,
.calendar-calendar .month-view .full td.single-day.empty,
.calendar-calendar .month-view .full td.date-box.empty,
.calendar-calendar th.days {
    background-color: transparent;
}

.calendar-calendar tr.single-day,
.calendar-calendar tr.date-box {
    background-color: #fff;
}

.calendar-calendar th.days {
    font-weight: 600;
    font-size: 128%;
    text-transform: uppercase;
    border: none;
    padding: 0 0 12px 0;
}

.calendar-calendar .month.day {
    font-weight: 700;
    font-size: 128%;
    color: #000;
}

.calendar-calendar td.date-box.empty .day {
    color: #b8b8b8;
}

.calendar-calendar .month-view .full td,
.calendar-calendar .month-view .full td.single-day div.monthview {
    padding: 0 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: none;
    overflow: visible;
}

.calendar-calendar .month-view .full td.single-day div.monthview {
    background-color: transparent;
    border: none;
}

.calendar-calendar .month-view .full .amarillo {
    background-color: #ffd800;
}

.calendar-calendar .month-view .full .celeste {
    background-color: #2cd5ff;
}

.calendar-calendar .month-view .full .blanco {

}

.calendar-calendar td.date-box.evento-selected {
    background: #fff !important;
    color: #fff !important;
}

.calendar-calendar td.evento-selected .selected-overlay {
    display: none;
    background: #fff !important;
    position: absolute;
    width: 100%;
    height: 127px;
    top: -5px;
    left: 0;
    z-index: 2;
}

.calendar-calendar td.evento-selected .selected-overlay {
    display: block;
}

.calendar-calendar .evento-calendario {
    text-align: center;
}

.amarillo .evento-calendario,
.celeste .evento-calendario,
.calendar-calendar .celeste .month.day {
    color: #fff;
}

.blanco .evento-calendario {
    color: #000;
}

.calendar-calendar .evento-calendario td.single-day,
.calendar-calendar .month-view .full tr td.date-box {
    position: relative;
}

.calendar-calendar .evento-calendario {
    padding: 0 15px;
}

.calendar-calendar .evento-calendario td.single-day .div.monthview {
    overflow: visible;
}

.evento-calendario .title em {
    font-family: Dubiel, Georgia, Times, serif;
    font-style: italic;
}

.evento-calendario .title strong {
    font-family: 'ITCAvantGardePro', Helvetica, Arial sans-serif;
    font-weight: 700;
}

.calendar-calendar .single-day .view-item .cutoff {
    position: absolute;
    width: 40px;
    height: 40px;
    right: -2px;
    top: 35px;
    background-image: url(../images/sprite.png) !important;
    background-position: 100% -920px !important;
    background-repeat: no-repeat;
    z-index: 1;
}

.calendar-calendar td.evento-selected.single-day .view-item .cutoff {
    display: block !important;
    left: 50%;
    margin-left: -20px;
    background-position: 0 -960px !important;
    z-index: 3;
}

.calendar-calendar .evento-calendario-overlay {
    background-color: #ffd800 !important;
    overflow: visible;
    position: absolute;
    width: 200px;
    bottom: 120%;
    left: 50%;
    z-index: 4;
    margin-left: -100px !important;
    min-height: 250px;
}

.calendar-calendar .evento-calendario-overlay .box-arrow {
    left: 50%;
    bottom: -20px;
    border: solid transparent !important;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 216, 0, 0) !important;
    border-top-color: #ffd800 !important;
    border-left-color: transparent !important;
    border-width: 10px !important;
    margin-top: -10px;
    margin-left: -10px;
}

.calendar-calendar .month-view .full td .inner div.calendar.monthview div.banner {
    background-size: cover;
    padding: 12px 20px;
}

.calendar-calendar td .inner div.calendar div.content {
    padding: 15px 20px;
}

.calendar-calendar .evento-calendario-overlay .banner {
    color: #fff;
    font-family: 'ITCAvantGardePro', Helvetica, Arial sans-serif;
}

.calendar-calendar .evento-calendario-overlay .date {
    font-size: 240%;
    font-weight: 300;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #8cdaf5;
}

.calendar-calendar .evento-calendario-overlay .title,
.calendar-calendar .evento-calendario-overlay .title p {
    margin: 0;
    padding: 0;
}

.calendar-calendar .evento-calendario-overlay .title {
    padding-top: 15px;
}

.calendar-calendar .evento-calendario-overlay em {
    font-weight: 300;
    font-size: 60%;
    font-style: normal;
}

.calendar-calendar .evento-calendario-overlay strong {
    font-weight: 700;
    font-size: 83%;
}

.calendar-calendar .evento-calendario-overlay .content {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #000;
}

.calendar-calendar .evento-calendario-overlay .description,
.calendar-calendar .evento-calendario-overlay .place {
    font-weight: 700;
}

.calendar-calendar .evento-calendario-overlay .description {
    font-size: 140%;
    line-height: 1.2;
    padding: 0 0 6px 0 !important;
    border-bottom: 1px solid #ccad00 !important;
}

.calendar-calendar .evento-calendario-overlay .description p {
    padding: 0 0 13px 0;
}

.calendar-calendar .evento-calendario-overlay .place,
.calendar-calendar .evento-calendario-overlay .time {
    font-size: 120%;
    padding: 15px 0 0 25px !important;
    position: relative;
}

.chicas-aguila #main {
    overflow: visible;
}

.calendar-calendar .evento-calendario-overlay .time:before,
.calendar-calendar .evento-calendario-overlay .place:before {
    content: ' ';
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: url(../images/sprite.png);
    background-position: 0 1000px;
    top: 0;
    left: -11px;
}

.calendar-calendar .evento-calendario-overlay .time:before {
    background-position: 0 -1000px;
}

.calendar-calendar .evento-calendario-overlay .place:before {
    background-position: 0 -1040px;
}

/* @end */

/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .banner-calendario-chicas-aguila h3,
    .banner-calendario-chicas-aguila h4 {
        font-size: 40px;
    }
    .banner-calendario-chicas-aguila .content p {
        width: 100%;
    }
    
    .banner-calendario-chicas-aguila .media-thumbnail-frame {
        position: relative;
    }
    
    .calendario-chicas-aguila {
        padding: 25px 20px 20px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

    .banner-calendario-chicas-aguila h3,
    .banner-calendario-chicas-aguila h4 {
        font-size: 55px;
    }

    .banner-calendario-chicas-aguila .media-thumbnail-frame {
        position: absolute;
    }

    .banner-calendario-chicas-aguila .content p {
        width: 55%;
    }

    .calendario-chicas-aguila {
        padding: 25px 30px 30px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .banner-calendario-chicas-aguila h3,
    .banner-calendario-chicas-aguila h4 {
        font-size: 70px;
    }

    .banner-calendario-chicas-aguila {
        width: 652px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .banner-calendario-chicas-aguila {
        min-height: 200px;
    }

    .calendar-calendar .evento-calendario-overlay.forceup, 
    .calendar-calendar .evento-calendario-overlay {
        top: -75px;
        bottom: initial;
        left: -160px;
        margin-left: 0 !important
    }

    .calendar-calendar .evento-calendario-overlay.forceup .box-arrow,
    .calendar-calendar .evento-calendario-overlay .box-arrow {
        left: 210px;
        bottom: 46%;
        border-color: rgba(255, 216, 0, 0) !important;
        border-top-color: transparent !important;
        border-left-color: #ffd800 !important;
    }

    .calendar-calendar .single-day .view-item .cutoff,
    .calendar-calendar td.evento-selected.single-day .view-item .cutoff {
        display: block !important;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .calendario-chicas-aguila {
        padding: 25px 0 40px 0;
    }
}
/* @end */
