/* @group Contenido Cervezas */


.node-cerveza .field-name-field-subcontenido {
    font-size: 12px;
    font-family: "ITCAvantGardePro", Helvetica, Arial sans-serif;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.2px;
    height: 220px;
    vertical-align: middle;
    padding-top: 65px;
    line-height: 1;
    color: #3e3e3e;
}

.cerveza.aguila .node-cerveza .field-name-field-subcontenido {
    line-height: 1.1;
    letter-spacing: -0.6px;
}

.cerveza.aguila-light .node-cerveza .field-name-field-subcontenido {
    padding-top: 57px;
}

.node-cerveza .field-name-field-subcontenido strong {
    text-transform: uppercase;
    font-weight: 700;
    color: #29c7fc;
    
}

.presentaciones .view-header{
    border-top: solid 1px #b1b1b1;
    height: 34px;
}

.presentaciones .view-header  h3{
    position: relative;
    top: -33px;
    font-family: "ITCAvantGardePro", Helvetica, Arial sans-serif;
    font-weight: 700;
    border: solid 1px #b1b1b1;
    border-radius: 8px;
    color: #313131;
    font-size: 34px;
    width: 363px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 10px 0 15px;
    background: #fff;
}

.presentaciones .view-content {
    max-width: 1200px;
    margin: 0 auto 45px;
    text-align: center;
}

.presentaciones .views-row {
    display: inline-block;
    text-align: center;
    font-family: "ITCAvantGardePro", Helvetica, Arial sans-serif;
    font-size: 26px;
    font-weight: 300;
    vertical-align: top;
    margin-right: 18px;
    line-height: 0.9;
}

.presentaciones .views-row  img {
    max-width: 100%;
    height: auto;
}
.presentaciones .views-field-field-titulo {
    font-weight: 700;
    color: #29c7fc;
    font-size: 29px;
    margin: 27px 0 0;
    line-height: 1;
}


/* @end */

/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .node-cerveza .field-name-field-subcontenido {
        font-size: 16px;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .node-cerveza .field-name-field-subcontenido {
        font-size: 20px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .node-cerveza .field-name-field-subcontenido {
        font-size: 24px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* @end */