.destacados-futbol {
    margin-bottom: 50px;
}

.destacados-futbol .item-list {
    clear: both;
    padding-top: 60px;
    margin-top: 20px;
}


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .destacados-futbol {
        margin-bottom: 80px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .destacados-futbol {
        margin-bottom: 100px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* @end */