/* @group Encabezado Media */

.encabezado-media .imagen-destacada img {
    display: inline-block;
    width: 100% !important;
    height: auto !important;
}

.encabezado-media .imagen-destacada {
    padding: 0 0 27px 0;
}

.encabezado-media .views-row > div {
    display: inline-block;
}

.encabezado-media h1 {
    margin: 17px 0 0 0;
    border-top: 1px solid gray;
    padding: 20px 0;
}

.encabezado-media .views-row .descripcion {
    display: block;
    font-weight: 600;
    font-size: 128%;
}

.encabezado-media .compartir,
.encabezado-media .fecha,
.encabezado-media .views-row .descripcion {
    color: #000;
}

.encabezado-media .favoritos-content-type,
.encabezado-media .compartir {
    display: block;
    margin: 0;
    float: left;
}

.encabezado-media .social {
    margin: 0;
}

.encabezado-media .social:before,
.encabezado-media .social:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.encabezado-media .compartir {
    padding: 10px 0 0 15px;
}

.encabezado-media .compartir span {
    text-decoration: underline;
}

.encabezado-media .compartir .facebook,
.encabezado-media .compartir .twitter {
    display: inline-block;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    margin: 10px 0;
    background: url(../images/sprite-social.png) 0 0 no-repeat;
}

.encabezado-media .compartir .twitter {
    background-position: -90px -90px;
}

.encabezado-media .compartir .facebook {
    background-position: -90px -128px;
}

.encabezado-media .flag-wrapper {
    margin: 0 10px 0 0;
}

.encabezado-media .flag-wrapper .flag {
    border: 3px solid #a7a7a7;
    padding: 12px 10px 0;
    background-position: 2px -637px;
}

.encabezado-media .flag-counter {
    color: #a7a7a7;
}

.encabezado-media .flag-wrapper .flag.unflag-action {
    background-position: 2px -797px;
}

.encabezado-media .flag-counter {
    display: inline-block;
}

/* @end */

/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* @end */