/* @group Fonts */

/* AkzidenzGroteskBQ */
/*
AkzidenzGroteskBQ Light:   font-style: normal | font-weight: 300
AkzidenzGroteskBQ Regular: font-style: normal | font-weight: normal
AkzidenzGroteskBQ Italic:  font-style: italic | font-weight: normal
AkzidenzGroteskBQ Super:   font-style: italic | font-weight: 900
*/
@font-face {
    font-family: 'AkzidenzGroteskBQ';
    src: url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-light-webfont.eot');
    src: url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-light-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-light-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-light-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-light-webfont.svg#akzidenz-grotesk_bq_lightRg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AkzidenzGroteskBQ';
    src: url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-webfont.eot');
    src: url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-webfont.svg#akzidenz-grotesk_bqregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AkzidenzGroteskBQ';
    src: url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-italic-webfont.eot');
    src: url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-italic-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-italic-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-italic-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-italic-webfont.svg#akzidenz-grotesk_bqitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'AkzidenzGroteskBQ';
    src: url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-super-webfont.eot');
    src: url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-super-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-super-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-super-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-super-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbq/akzidenzgroteskbq-super-webfont.svg#akzidenz-grotesk_bq_superRg') format('svg');
    font-weight: 900;
    font-style: normal;
}

/* Antipasto */
/*
Antipasto Regular: font-style: normal | font-weight: normal
*/
@font-face {
    font-family: 'Antipasto';
    src: url('../fonts/antipasto/antipasto-webfont.eot');
    src: url('../fonts/antipasto/antipasto-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antipasto/antipasto-webfont.woff2') format('woff2'),
         url('../fonts/antipasto/antipasto-webfont.woff') format('woff'),
         url('../fonts/antipasto/antipasto-webfont.ttf') format('truetype'),
         url('../fonts/antipasto/antipasto-webfont.svg#antipastoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Dubiel */
/*
Dubiel Regular: font-style: normal | font-weight: normal
Dubiel Italic:  font-style: italic | font-weight: normal
*/
@font-face {
    font-family: 'Dubiel';
    src: url('../fonts/dubiel/dubiel_regular/Dubiel-webfont.eot');
    src: url('../fonts/dubiel/dubiel_regular/Dubiel-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dubiel/dubiel_regular/Dubiel-webfont.woff') format('woff'),
         url('../fonts/dubiel/dubiel_regular/Dubiel-webfont.ttf') format('truetype'),
         url('../fonts/dubiel/dubiel_regular/Dubiel-webfont.svg#dubielplainregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dubiel';
    src: url('../fonts/dubiel/dubiel_italic/DubielItalic-webfont.eot');
    src: url('../fonts/dubiel/dubiel_italic/DubielItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dubiel/dubiel_italic/DubielItalic-webfont.woff') format('woff'),
         url('../fonts/dubiel/dubiel_italic/DubielItalic-webfont.ttf') format('truetype'),
         url('../fonts/dubiel/dubiel_italic/DubielItalic-webfont.svg#dubielitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* ITCAvantGardePro */
/*
ITCAvantGardePro Book:    font-style: normal | font-weight: 300
ITCAvantGardePro Regular: font-style: normal | font-weight: normal
ITCAvantGardePro Bold:    font-style: normal | font-weight: 700
*/
@font-face {
    font-family: 'ITCAvantGardePro';
    src: url('../fonts/itcavantgardepro/itcavantgardepro-bk.eot');
    src: url('../fonts/itcavantgardepro/itcavantgardepro-bk.eot') format('embedded-opentype'),
         url('../fonts/itcavantgardepro/itcavantgardepro-bk.woff2') format('woff2'),
         url('../fonts/itcavantgardepro/itcavantgardepro-bk.woff') format('woff'),
         url('../fonts/itcavantgardepro/itcavantgardepro-bk.ttf') format('truetype'),
         url('../fonts/itcavantgardepro/itcavantgardepro-bk.svg#ITCAvantGardeGothicProBook') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardePro';
    src: url('itcavantgardepro.eot');
    src: url('itcavantgardepro.eot') format('embedded-opentype'),
         url('itcavantgardepro.woff2') format('woff2'),
         url('itcavantgardepro.woff') format('woff'),
         url('itcavantgardepro.ttf') format('truetype'),
         url('itcavantgardepro.svg#ITCAvantGardeGothicProDemi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardePro';
    src: url('../fonts/itcavantgardepro/itcavantgardepro-bold.eot');
    src: url('../fonts/itcavantgardepro/itcavantgardepro-bold.eot') format('embedded-opentype'),
         url('../fonts/itcavantgardepro/itcavantgardepro-bold.woff2') format('woff2'),
         url('../fonts/itcavantgardepro/itcavantgardepro-bold.woff') format('woff'),
         url('../fonts/itcavantgardepro/itcavantgardepro-bold.ttf') format('truetype'),
         url('../fonts/itcavantgardepro/itcavantgardepro-bold.svg#ITCAvantGardeGothicProBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* Lavanderia */
/*
Lavanderia Regular: font-style: normal | font-weight: normal
*/
@font-face {
    font-family: 'Lavanderia';
    src: url('../fonts/lavanderia/lavanderia-webfont.eot');
    src: url('../fonts/lavanderia/lavanderia-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lavanderia/lavanderia-webfont.woff2') format('woff2'),
         url('../fonts/lavanderia/lavanderia-webfont.woff') format('woff'),
         url('../fonts/lavanderia/lavanderia-webfont.ttf') format('truetype'),
         url('../fonts/lavanderia/lavanderia-webfont.svg#lavanderia_sturdysturdy') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Retina Display */
/*
Retina Display Thin:     font-style: normal | font-weight: 200
Retina Display Light:    font-style: normal | font-weight: 300
Retina Display Regular:  font-style: normal | font-weight: normal
Retina Display Semibold: font-style: normal | font-weight: 600
Retina Display Bold:     font-style: normal | font-weight: 700
Retina Display Black:    font-style: normal | font-weight: 900
*/
@font-face {
    font-family: 'Retina Display';
    src: url('../fonts/retina_display/retina_display-thin-webfont.eot');
    src: url('../fonts/retina_display/retina_display-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/retina_display/retina_display-thin-webfont.woff2') format('woff2'),
         url('../fonts/retina_display/retina_display-thin-webfont.woff') format('woff'),
         url('../fonts/retina_display/retina_display-thin-webfont.ttf') format('truetype'),
         url('../fonts/retina_display/retina_display-thin-webfont.svg#retina_displaythin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Retina Display';
    src: url('../fonts/retina_display/retina_display-light-webfont.eot');
    src: url('../fonts/retina_display/retina_display-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/retina_display/retina_display-light-webfont.woff2') format('woff2'),
         url('../fonts/retina_display/retina_display-light-webfont.woff') format('woff'),
         url('../fonts/retina_display/retina_display-light-webfont.ttf') format('truetype'),
         url('../fonts/retina_display/retina_display-light-webfont.svg#retina_displaylight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Retina Display';
    src: url('../fonts/retina_display/retina_display-medium-webfont.eot');
    src: url('../fonts/retina_display/retina_display-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/retina_display/retina_display-medium-webfont.woff2') format('woff2'),
         url('../fonts/retina_display/retina_display-medium-webfont.woff') format('woff'),
         url('../fonts/retina_display/retina_display-medium-webfont.ttf') format('truetype'),
         url('../fonts/retina_display/retina_display-medium-webfont.svg#retina_displaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Retina Display';
    src: url('../fonts/retina_display/retina_display-semibold-webfont.eot');
    src: url('../fonts/retina_display/retina_display-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/retina_display/retina_display-semibold-webfont.woff2') format('woff2'),
         url('../fonts/retina_display/retina_display-semibold-webfont.woff') format('woff'),
         url('../fonts/retina_display/retina_display-semibold-webfont.ttf') format('truetype'),
         url('../fonts/retina_display/retina_display-semibold-webfont.svg#retina_displaysemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Retina Display';
    src: url('../fonts/retina_display/retina_display-bold-webfont.eot');
    src: url('../fonts/retina_display/retina_display-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/retina_display/retina_display-bold-webfont.woff2') format('woff2'),
         url('../fonts/retina_display/retina_display-bold-webfont.woff') format('woff'),
         url('../fonts/retina_display/retina_display-bold-webfont.ttf') format('truetype'),
         url('../fonts/retina_display/retina_display-bold-webfont.svg#retina_displaybold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Retina Display';
    src: url('../fonts/retina_display/retina_display-black-webfont.eot');
    src: url('../fonts/retina_display/retina_display-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/retina_display/retina_display-black-webfont.woff2') format('woff2'),
         url('../fonts/retina_display/retina_display-black-webfont.woff') format('woff'),
         url('../fonts/retina_display/retina_display-black-webfont.ttf') format('truetype'),
         url('../fonts/retina_display/retina_display-black-webfont.svg#retina_displayblack') format('svg');
    font-weight: 900;
    font-style: normal;
}

/* Retina Display Condensed */
/*
Retina Display Condensed Semibold: font-style: normal | font-weight: 600
Retina Display Condensed Bold:     font-style: normal | font-weight: 700
Retina Display Condensed Black:    font-style: normal | font-weight: 900
*/
@font-face {
    font-family: 'Retina Display Condensed';
    src: url('../fonts/retina_display_condensed/retina_display_cond-semibd-webfont.eot');
    src: url('../fonts/retina_display_condensed/retina_display_cond-semibd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/retina_display_condensed/retina_display_cond-semibd-webfont.woff2') format('woff2'),
         url('../fonts/retina_display_condensed/retina_display_cond-semibd-webfont.woff') format('woff'),
         url('../fonts/retina_display_condensed/retina_display_cond-semibd-webfont.ttf') format('truetype'),
         url('../fonts/retina_display_condensed/retina_display_cond-semibd-webfont.svg#retina_display_condensedSBd') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Retina Display Condensed';
    src: url('../fonts/retina_display_condensed/retina_display_cond-bold-webfont.eot');
    src: url('../fonts/retina_display_condensed/retina_display_cond-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/retina_display_condensed/retina_display_cond-bold-webfont.woff2') format('woff2'),
         url('../fonts/retina_display_condensed/retina_display_cond-bold-webfont.woff') format('woff'),
         url('../fonts/retina_display_condensed/retina_display_cond-bold-webfont.ttf') format('truetype'),
         url('../fonts/retina_display_condensed/retina_display_cond-bold-webfont.svg#retina_display_condensedbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Retina Display Condensed';
    src: url('../fonts/retina_display_condensed/retina_display_cond-black-webfont.eot');
    src: url('../fonts/retina_display_condensed/retina_display_cond-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/retina_display_condensed/retina_display_cond-black-webfont.woff2') format('woff2'),
         url('../fonts/retina_display_condensed/retina_display_cond-black-webfont.woff') format('woff'),
         url('../fonts/retina_display_condensed/retina_display_cond-black-webfont.ttf') format('truetype'),
         url('../fonts/retina_display_condensed/retina_display_cond-black-webfont.svg#retina_display_condensedblack') format('svg');
    font-weight: 900;
    font-style: normal;
}

/* @end */

/* @group Global */

/* Stack box */
.stack .box {
    padding: 0;
}

.wrapper-content .stack {
    padding: 0;
}

.wrapper-content .block + .block,
.block + .block {
    margin: 0;
}

.tabs {
    margin: 0;
}

.tabs ul.tabs  {
    margin-bottom: 1.3846em;
    margin-top: 1.3846em;
}


/* Lists Reset */
.stack-footer-inner ul,
.stack-footer-inner ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

/* Clearfix */
.web-form-aguila-news .webform-client-form:before,
.web-form-aguila-news .webform-client-form:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/* Content wrapper */
.stack-footer-inner .stack-width,
.stack-navigation .region-navigation,
.stack-copyright .content,
.view-descatados,
.lista-lugares-fiesta,
.slick-initialized .slide-content,
.view-dynamic-filter .view-content {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

/* Text Blow Off */
/* Remember to display: block || inline-block, if not:
    line-height: 800%;
    overflow: hidden;
*/
.site-name-wrapper .site-name a,
.socialHeader li a,
.socialFooter li a,
.btn-login-search .btn-icon > a,
.btn-text-no,
.slick-dots li * {
    text-indent: -9999px;
    text-align: left;
}

#breadcrumb {
    display: none;
}

/* @end */

/* @group Layers */
/* Keep in auto or 0 to 10, no more. */

.socialHeader,
.slick-slider:after {
    z-index:1;
}

.site-name-wrapper,
#block-system-user-menu,
#block-search-form {
    z-index: 2;
}

/* @end */

/* @group Colors */

/*
$white, $light          = #fff    | rgb(255, 255, 255);
$yellow                 = #fff600 | rgb(255, 246, 0);
$gold                   = #ffd800 | rgb(255, 216, 0);
$pink                   = #ff008a | rgb(255, 0, 138);
$red                    = #ff3030 | rgb(255, 48, 48);
$sky-blue               = #0fc3ff | rgb(15, 195, 255);
$medium-blue            = #2ba3ff | rgb(43, 163, 255);
$blue                   = #0565be | rgb(5, 101, 190);
$dark-cyan              = #1f527a | rgb(31, 82, 122);
$gray                   = #969696 | rgb(150, 150, 150);
$dark-gray              = #484848 | rgb(72, 72, 72);
$black, $dark           = #000    | rgb(0, 0, 0);
*/

/* @end */

/* @group Buttons */

.btn {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    font-family: "Retina Display Condensed", Helvetica, Arial, sans-serif;
    font-weight: 900;
    color: #000;
    text-align: center;
    text-decoration: none;
    letter-spacing: normal;
    background-color: #ffd800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn:hover {
    color: #000;
}

.btn.btn-md {
    min-height: 40px;
    padding: 10px 12px;
}

.btn-full {
    display: block;
    width: 100%;
}

.btn-white {
    color: #000;
    border-color: #000;
    background-color: #fff;
}

.btn-yellow {
    color: #000;
    border-color: transparent;
    background-color: #fff600;
}

.btn-gold {
    color: #000;
    border-color: transparent;
    background-color: #ffd800;
}

.btn-pink,
.btn-pink:hover {
    color: #fff;
    border-color: transparent;
    background-color: #ff008a;
}

.btn-red,
.btn-red:hover {
    color: #fff;
    border-color: transparent;
    background-color: #ff3030;
}

.btn-sky-blue,
.btn-sky-blue:hover {
    color: #fff;
    border-color: transparent;
    background-color: #0fc3ff;
}

.btn-medium-blue,
.btn-medium-blue:hover {
    color: #fff;
    border-color: transparent;
    background-color: #2ba3ff;
}

.btn-blue,
.btn-blue:hover {
    color: #fff;
    border-color: transparent;
    background-color: #0565be;
}

.btn-dark-cyan,
.btn-dark-cyan:hover {
    color: #fff;
    border-color: transparent;
    background-color: #1f527a;
}

.btn-gray {
    color: #000;
    border-color: transparent;
    background-color: #969696;
}

.btn-dark-gray,
.btn-dark-gray:hover {
    color: #fff;
    border-color: transparent;
    background-color: #484848;
}

.btn-black,
.btn-black:hover {
    color: #fff;
    border-color: transparent;
    background-color: #000;
}

.btn-black-overlay,
.btn-black-overlay:hover {
    color: #fff;
    border-color: #fff;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-white-overlay {
    color: #000;
    border-color: #000;
    background-color: #000;
    background-color: rgba(255, 255, 255, 0.5);
}

.btn-light,
.btn-dark {
    background-color: transparent;
    background-image: none;
}

.btn.btn-light,
.btn.btn-light:hover {
    color: #fff;
    border-color: #fff;
}

.btn.btn-dark {
    color: #000;
    border-color: #000;
}

.btn-symbol,
.btn-symbol.active,
.btn-symbol.active:active {
    background-image: url(../images/sprite.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    min-height: 30px;
    padding-right: 40px;
}

.btn-symbol.btn-symbol-geo {
    background-position: 0 -406px;
    padding-left: 40px;
    padding-right: 12px;
}

.btn-md.btn-symbol.btn-symbol-geo {
    background-position: 0 -400px;
}

.btn-symbol.btn-symbol-next {
    background-position: 100% -446px;
}

.btn-md.btn-symbol.btn-symbol-next {
    background-position: 100% -440px;
}

.btn-symbol.btn-symbol-prev {
    background-position: 0 -486px;
    padding-left: 40px;
    padding-right: 12px;
}

.btn-md.btn-symbol.btn-symbol-prev {
    background-position: 0 -480px;
}

.btn-symbol.btn-symbol-down {
    background-position: 100% -566px;
}

.btn-md.btn-symbol.btn-symbol-down {
    background-position: 100% -560px;
}

.btn-symbol.btn-symbol-up {
    background-position: 100% -526px;
}

.btn-md.btn-symbol.btn-symbol-up {
    background-position: 100% -520px;
}

.btn-symbol.btn-symbol-left {
    background-position: 100% -606px;
}

.btn-md.btn-symbol.btn-symbol-left {
    background-position: 100% -600px;
}

.btn-symbol.btn-symbol-right {
    background-position: 100% -646px;
}

.btn-md.btn-symbol.btn-symbol-right {
    background-position: 100% -640px;
}

.btn-symbol.btn-symbol-heart {
    background-position: 0 -686px;
    padding-left: 40px;
    padding-right: 12px;
}

.btn-md.btn-symbol.btn-symbol-heart {
    background-position: 0 -680px;
}

.btn-symbol.btn-symbol-heart-light {
    background-position: 0 -726px;
    padding-left: 40px;
    padding-right: 12px;
}

.btn-md.btn-symbol.btn-symbol-heart-light {
    background-position: 0 -720px;
}

.btn-symbol.btn-symbol-heart-dark {
    background-position: 0 -766px;
    padding-left: 40px;
    padding-right: 12px;
}

.btn-md.btn-symbol.btn-symbol-heart-dark {
    background-position: 0 -760px;
}

.btn-symbol.btn-symbol-heart-white {
    background-position: 0 -806px;
    padding-left: 40px;
    padding-right: 12px;
}

.btn-md.btn-symbol.btn-symbol-heart-white {
    background-position: 0 -800px;
}

.btn-symbol.btn-symbol-geo-gray {
    background-position: 0 -846px;
    padding-left: 40px;
    padding-right: 12px;
}

.btn-md.btn-symbol.btn-symbol-geo-gray {
    background-position: 100% -840px;
}

.btn-symbol.btn-symbol-hotel {
    background-position: 0 -1166px;
    padding-left: 40px;
    padding-right: 12px;
}

.btn-md.btn-symbol.btn-symbol-hotel {
    background-position: 0 -1160px;
}

.btn-symbol.btn-symbol-hotel.active {
    background-position: 0 -1366px;
}

.btn-md.btn-symbol.btn-symbol-hotel.active {
    background-position: 0 -1360px;
}

.btn-symbol.btn-symbol-evento {
    background-position: 0 -1206px;
    padding-left: 40px;
    padding-right: 12px;
}

.btn-md.btn-symbol.btn-symbol-evento {
    background-position: 0 -1200px;
}

.btn-symbol.btn-symbol-evento.active {
    background-position: 0 -1406px;
}

.btn-md.btn-symbol.btn-symbol-evento.active {
    background-position: 0 -1400px;
}

.btn-symbol.btn-symbol-restaurante {
    background-position: 0 -1246px;
    padding-left: 40px;
    padding-right: 12px;
}

.btn-md.btn-symbol.btn-symbol-restaurante {
    background-position: 0 -1240px;
}

.btn-symbol.btn-symbol-restaurante.active {
    background-position: 0 -1446px;
}

.btn-md.btn-symbol.btn-symbol-restaurante.active {
    background-position: 0 -1440px;
}

.btn-symbol.btn-symbol-2x1 {
    background-position: 0 -1286px;
    padding-left: 40px;
    padding-right: 12px;
}

.btn-md.btn-symbol.btn-symbol-2x1 {
    background-position: 0 -1280px;
}

.btn-symbol.btn-symbol-2x1.active {
    background-position: 0 -1486px;
}

.btn-md.btn-symbol.btn-symbol-2x1.active {
    background-position: 0 -1480px;
}

.btn-symbol.btn-symbol-bar {
    background-position: 0 -1326px;
    padding-left: 40px;
    padding-right: 12px;
}

.btn-md.btn-symbol.btn-symbol-bar {
    background-position: 0 -1320px;
}

.btn-symbol.btn-symbol-bar.active {
    background-position: 0 -1526px;
}

.btn-md.btn-symbol.btn-symbol-bar.active {
    background-position: 0 -1520px;
}

.btn-strong {
    text-transform: uppercase;
    font-weight: bold;
}

.btn-radius-none,
.radius-none {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-border-none {
    border: none !important;
}

.btn.btn-text-no {
    width: 0;
    padding: 0 15px;
    background-position-x: -5px;
}

.btn-md.btn-text-no {
    padding: 0 20px;
}

/* @end */

/* @group Section main title */
.section-main-title {
    position: relative;
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
}

.section-main-title h2 {
    display: inline-block;
    background-color: #FFF;
    padding: 0 20px;
    margin: 0;
    font-family: 'Retina Display', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.section-main-title h2 em {
    display: block;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
    font-size: 18px;
    font-family: Dubiel, Georgia, Times, serif;
}

.section-main-title .line {
    position: absolute;
    top: 50%;
    left: 2.5%;
    display: block;
    width: 95%;
    height: 1px;
    z-index: -1;
    border-bottom: 1px solid #b1b1b1;
}

/* @end */


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .section-main-title h2 {
        font-family: 'Retina Display', Helvetica, Arial, sans-serif;
        font-size: 24px;
    }

    .section-main-title h2 em {
        font-family: Dubiel, Georgia, Times, serif;
        font-size: 28px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* @end */