/* @group Global */

/* Lists Reset */
.stack-footer-inner ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

/* Clearfix */
.web-form-aguila-news .webform-client-form:before,
.web-form-aguila-news .webform-client-form:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/* Content wrapper */
.stack.stack-footer-inner .stack-width {
    max-width: 1200px;
}

/* @end Global */

/* @group Fonts */

font-family: 'Open Sans', Helvetica, Arial, sans-serif;

/*@ end Fonts */

/* @group Header */
.site-name-wrapper {
    display: none;
}

.site-name-wrapper .site-name a {
  display: inline-block;
  width: 162px;
  height: 64px;
  text-indent: -9999px;
  background: url(../images/logo.png) no-repeat 0 0 transparent;
}

.stack-navigation {
    position: absolute;
    z-index: 1;
}

.stack-navigation .block {
    margin: 0;
}

#block-system-main-menu {
    background: #0565be;
    border-bottom: 4px solid #0fc3ff;
}

#block-system-main-menu .content {
    max-width: 1200px;
    margin: 0 auto;
}

#block-system-main-menu ul.menu {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

#block-system-main-menu ul.menu li {
    padding: 0;
    height: 37px;
    border-left: 1px solid #3381c9;
}

#block-system-main-menu ul.menu li.first {
    border: none;
}

#block-system-main-menu ul.menu a {
    margin: 10px 40px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-size: 12px;
}

.btn-menu-mobile a,
.btn-menu-mobile a:hover {
    background: #0565be;
    border-color: #;
}

.btn-menu-mobile a .icon-bar {
    background: #0fc3ff;
}

.btn-menu-mobile a:hover .icon-bar {
    background: #FFF;
}

/* @end Header */

/* @group Footer */

.wrapper-footer .stack.stack-footer-inner {
    padding: 37px 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #1f527a;
    color: #a1d5fe;
}

.stack.stack-footer-inner h2 {
    margin: 0;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.stack.stack-footer-inner a {
    color: #a1d5fe;
    text-decoration: underline;
}

#footer-first-region .content strong {
    font-size: 18px;
}

#footer-first-region ul li {
    display: inline-block;
    font-size: 12px;
}

.web-form-aguila-news label,
.web-form-aguila-news .mollom-privacy {
    display: none;
}

.web-form-aguila-news .form-item,
.web-form-aguila-news .form-actions {
    float: left;
}

.web-form-aguila-news .form-actions input,
.web-form-aguila-news .form-item input {
    -webkit-appearance: none;
    border: none;
    padding: 0;
    line-height: 3;
}

.web-form-aguila-news .form-item input {
    padding: 0 16px;
    color: #1f527a;
}

.web-form-aguila-news .form-actions input {
    padding: 0 28px;
    background: #009fd4;
    color: #fff;
    font-weight: bold;
}

.stack-copyright {
    padding: 15px 0 22px;
}

.stack-copyright p {
    text-align: center;
}

/* @end Footer */


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* @group Header */
    .site-name-wrapper {
        display: block;
    }

    .stack-navigation {
        position: relative;
    }

    .stack-navigation .box {
        padding: 0;
    }
    /* @end Header */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* @end Media Query */