/* @group Global */

/* Stack box */
.stack .box {
    padding: 0;
}

/* Lists Reset */
.stack-footer-inner ul,
.stack-footer-inner ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

/* Clearfix */
.web-form-aguila-news .webform-client-form:before,
.web-form-aguila-news .webform-client-form:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/* Content wrapper */
.stack-footer-inner .stack-width,
.stack-navigation .region-navigation,
.stack-copyright .content {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

/* Text Blow Off */
/* Remember to display: block || inline-block, if not:
    line-height: 800%;
    overflow: hidden;
*/
.site-name-wrapper .site-name a,
.socialHeader li a,
.socialFooter li a,
.btn-login-search .btn-icon > a {
    text-indent: -9999px;
    text-align: left;
}

/* @end */

/* @group Layers */
/* Keep in auto or 0 to 10, no more. */

.socialHeader {
    z-index:1;
}

.site-name-wrapper,
#block-system-user-menu,
#block-search-form {
    z-index: 2;
}

/* @end */

/* @group Colors */

/*
$white, $light          = #fff    | rgb(255, 255, 255);
$yellow                 = #fff600 | rgb(255, 246, 0);
$gold                   = #ffd800 | rgb(255, 216, 0);
$pink                   = #ff008a | rgb(255, 0, 138);
$red                    = #ff3030 | rgb(255, 48, 48);
$sky-blue               = #0fc3ff | rgb(15, 195, 255);
$medium-blue            = #2ba3ff | rgb(43, 163, 255);
$blue                   = #0565be | rgb(5, 101, 190);
$dark-cyan              = #1f527a | rgb(31, 82, 122);
$gray                   = #969696 | rgb(150, 150, 150);
$dark-gray              = #484848 | rgb(72, 72, 72);
$black, $dark           = #000    | rgb(0, 0, 0);
*/

/* @end */

/* @group Buttons */

.btn {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    /* To replace with correct default font stack */
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #000;
    text-align: center;
    text-decoration: none;
    letter-spacing: normal;
    background-color: #ffd800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn:hover {
    color: #000;
}

.btn-full {
    display: block;
    width: 100%;
}

.btn-white {
    color: #000;
    border-color: #000;
    background-color: #fff;
}

.btn-yellow {
    color: #000;
    border-color: transparent;
    background-color: #fff600;
}

.btn-gold {
    color: #000;
    border-color: transparent;
    background-color: #ffd800;
}

.btn-pink,
.btn-pink:hover {
    color: #fff;
    border-color: transparent;
    background-color: #ff008a;
}

.btn-red,
.btn-red:hover {
    color: #fff;
    border-color: transparent;
    background-color: #ff3030;
}

.btn-sky-blue,
.btn-sky-blue:hover {
    color: #fff;
    border-color: transparent;
    background-color: #0fc3ff;
}

.btn-medium-blue,
.btn-medium-blue:hover {
    color: #fff;
    border-color: transparent;
    background-color: #2ba3ff;
}

.btn-blue,
.btn-blue:hover {
    color: #fff;
    border-color: transparent;
    background-color: #0565be;
}

.btn-dark-cyan,
.btn-dark-cyan:hover {
    color: #fff;
    border-color: transparent;
    background-color: #1f527a;
}

.btn-gray {
    color: #000;
    border-color: transparent;
    background-color: #969696;
}

.btn-dark-gray,
.btn-dark-gray:hover {
    color: #fff;
    border-color: transparent;
    background-color: #484848;
}

.btn-black,
.btn-black:hover {
    color: #fff;
    border-color: transparent;
    background-color: #000;
}

.btn-light,
.btn-dark {
    background-color: transparent;
    background-image: none;
}

.btn.btn-light,
.btn.btn-light:hover {
    color: #fff;
    border-color: #fff;
}

.btn.btn-dark {
    color: #000;
    border-color: #000;
}

.btn-symbol {
    background-image: url(../images/sprite.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    min-height: 30px;
    padding-right: 40px;
}

.btn-symbol.btn-symbol-geo {
    background-position: 0 -406px;
    padding-left: 40px;
    padding-right: 12px;
}

.btn-symbol.btn-symbol-next {
    background-position: 100% -446px;
}

.btn-symbol.btn-symbol-prev {
    background-position: 0 -486px;
    padding-left: 40px;
    padding-right: 12px;
}

.btn-symbol.btn-symbol-down {
    background-position: 100% -566px;
}

.btn-symbol.btn-symbol-up {
    background-position: 100% -526px;
}

.btn-symbol.btn-symbol-left {
    background-position: 100% -606px;
}

.btn-symbol.btn-symbol-right {
    background-position: 100% -646px;
}

.btn-strong {
    text-transform: uppercase;
    font-weight: bold;
}

.btn-radius-none,
.radius-none {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-border-none {
    border: none !important;
}

/* @end */

/* @group Header */

.site-name-wrapper {
    display: inline-block;
    left: 50%;
    margin-left: -81px;
    position: absolute;
    z-index: 3;
}

.site-name-wrapper .site-name a {
    display: inline-block;
    width: 162px;
    height: 64px;
    background: url(../images/logo.png) no-repeat top center transparent;
    background-size: 65% 65%;
}

.stack-navigation {
    position: relative;
    height: 41px;
    background: #0565be;
    border-bottom: 4px solid #0fc3ff;
}

.stack-navigation .block {
    margin: 0;
    padding: 0;
}

#block-system-main-menu .content {
    margin: 0 auto;
}

#block-system-main-menu ul.menu {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#block-system-main-menu ul.menu li {
    padding: 0;
    height: 37px;
    border-right: 1px solid #3381c9;
}

#block-system-main-menu ul.menu li:hover,
#block-system-main-menu ul.menu li:focus,
#block-system-main-menu ul.menu li:active {
    background-color: #0fc3ff;
}

#block-system-main-menu ul.menu li.item-logo a {
    margin: 0;
}

#block-system-main-menu ul.menu a {
    margin: 10px 40px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-size: 12px;
}

.btn-menu-mobile a,
.btn-menu-mobile a:hover,
.btn-menu-mobile a:focus,
.btn-menu-mobile a:active {
    background: #0565be;
}

.btn-menu-mobile a {
    height: 37px;
    width: 22px;
    padding: 9px 0;
    margin-left: 10px;
    border: none;
}

.btn-menu-mobile a .icon-bar {
    background: #0fc3ff;
}

.btn-menu-mobile a:hover .icon-bar,
.btn-menu-mobile a:focus .icon-bar,
.btn-menu-mobile a:active .icon-bar {
    background: #FFF;
}

.btn-login-search {
    position: absolute;
    right: 0;
    top: 0;
}

.btn-login-search .btn-icon {
    position: relative;
    padding: 0;
}

.btn-login-search .btn-icon > a {
    display: inline-block;
    width: 30px;
    height: 41px;
    background: url(../images/sprite.png) no-repeat 0 0 transparent;
}

.btn-login-search .btn-icon:hover,
.btn-login-search .btn-icon:focus,
.btn-login-search .btn-icon:active {
    background-color: #0fc3ff;
}

.btn-login-search .btn-icon-login > a {
    background-position: -5px -160px;
}

.btn-login-search .btn-icon-search > a {
    background-position: -5px -200px;
}

#block-system-user-menu,
#block-search-form {
    display: none;
    position: absolute;
    top: 41px;
    right: 0;
    background: #FFF;
    position: absolute;
}

#block-search-form .form-submit,
#block-search-form input.form-text {
    background: #FFF;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #CCC;
    -webkit-appearance: none;
    margin: 0;
}

#block-search-form {
    min-width: 280px;
    border: 4px solid #e9f0f2;
}

#block-search-form input.form-text {
    width: 220px;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

#block-search-form .form-submit {
    font-size: 20px;
}

#block-system-user-menu {
    min-width: 120px;
    border-radius: 0 0 5px 5px;
    background: #0565be;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

#block-system-user-menu .menu li {
    float: none;
    display: block;
    padding: 0;
    border-top: 1px solid #3381c9;
}

#block-system-user-menu .menu li:hover {
    background-color: #0fc3ff;
}

#block-system-user-menu .menu li.first {
    border-top: none;
}

#block-system-user-menu .menu li a {
    display: block;
    padding: 5px 15px;
    color: #FFF;
    text-decoration: none;
}

.btn-login-search .btn-icon-login:hover #block-system-user-menu,
.btn-login-search .btn-icon-login:focus #block-system-user-menu,
.btn-login-search .btn-icon-login:active #block-system-user-menu,
.btn-login-search .btn-icon-search:hover #block-search-form,
.btn-login-search .btn-icon-search:focus #block-search-form,
.btn-login-search .btn-icon-search:active #block-search-form {
    display: block;
}

/* @end */

/* @group Social Header */

.region-preheader-second {
    line-height: 0px;
}

.socialHeader {
    position: fixed;
    top: 175px;
    list-style-type: none;
    right: 0;
    display: none;
}

.socialHeader .socialLink1,
.socialHeader .socialLink2,
.socialHeader .socialLink3,
.socialHeader .socialLink4 {
    display:block;
    width: 50px;
    height: 50px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    border: solid 5px;
}

.socialHeader .socialLink1 {
    background-color: #3a579b;
    border-color: #3a579b;
    background-position: 0 -240px;
}

.socialHeader .socialLink2 {
    background-color: #d03428;
    border-color: #d03428;
    background-position: 0 -280px;
}

.socialHeader .socialLink3 {
    background-color: #598dc9;
    border-color: #598dc9;
    background-position: 0 -320px;
}

.socialHeader .socialLink4 {
    background-color: #e1411f;
    border-color: #e1411f;
    background-position: 0 -360px;
}

/* @end */

/* @group Social Footer */
.socialFooter {
    position:relative;
}

.socialFooter .socialExtensionLeft,
.socialFooter .socialExtensionRight {
    position: absolute;
    height: 68px;
    top: 0;
    width: 100%;
}

.socialFooter .socialExtensionLeft {
    left: -100%;
    background-color: #00a0d4;
}

.socialFooter .socialExtensionRight {
    right: -100%;
    background-color: #858585;
}

.socialFooter ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.socialFooter .socialTab1,
.socialFooter .socialTab2,
.socialFooter .socialTab3,
.socialFooter .socialTab4 {
    float: left;
    width: 25%;
    margin: 0;
    height: 40px;
    display: block;
    padding: 20px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    border-width: 14px 0;
    border-style: solid;
}

.socialFooter  .socialTab1 {
    background-color: #00a0d4;
    border-color:  #00a0d4;
}

.socialFooter  .socialTab2 {
    background-color: #39589b;
    border-color: #39589b;
    background-position: 50% -40px;
}

.socialFooter  .socialTab3 {
    background-color: #f6085d;
    border-color: #f6085d;
    background-position: 50% -80px;
}

.socialFooter  .socialTab4 {
    background-color: #858585;
    border-color: #858585;
    background-position: 50% -120px;
}

/* @end */

/* @group Footer */

.wrapper-footer .stack.stack-footer-inner {
    padding: 30px 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #1f527a;
    color: #a1d5fe;
}

.stack.stack-footer-inner h2 {
    margin: 0;
    color: #fff;
    font-weight: 600;
    font-size: 100%;
}

.stack.stack-footer-inner a {
    color: #a1d5fe;
    text-decoration: underline;
}

.region-footer-first p {
    line-height: 1.5;
}

.region-footer-first .content strong {
    font-size: 128.57%;
}

.region-footer-first ul li {
    display: inline-block;
    font-size: 85.71%;
    margin: 0;
}

.region-footer-first ul li + li {
    margin: 0 0 0 15px;
}

.web-form-aguila-news .webform-client-form {
    overflow: hidden;
}

.web-form-aguila-news label,
.web-form-aguila-news .mollom-privacy,
.web-form-aguila-news .web-form-container-inline label {
    display: none !important;
}

.web-form-aguila-news .form-item,
.web-form-aguila-news .form-actions {
    float: left;
}

.web-form-aguila-news .form-actions input,
.web-form-aguila-news .form-item input.form-text {
    height: 42px;
    box-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    line-height: 3;
}

.web-form-aguila-news .form-item,
.web-form-aguila-news .form-actions {
    margin-top: 0;
    margin-bottom: 25px;
}

.web-form-aguila-news .form-item input.form-text {
    padding: 0 16px;
    color: #1f527a;
}

.web-form-aguila-news .form-actions input {
    padding: 0 28px;
    background: #009fd4;
    color: #fff;
    font-weight: bold;
}

#footer .col-2 .col {
    width: 100%;
    margin: 20px 0 0;
    padding: 0 10px;
    min-height: 0 !important;
}

#footer .col-2 .col-first {
    margin: 0;
}

.region-footer-second {
    text-align: left;
    margin: 5px 0 0 0;
    padding: 0 10px;
}

.region-footer-second p {
    margin: 0;
    padding: 10px 0 0 0;
}

.region-footer-second strong a {
    font-size: 85.71%;
}

.region-footer-second ol,
.region-footer-second ul {
    margin: 0 0 9px 0;
}

.region-footer-second li {
    display: block;
}

.stack-copyright {
    padding: 14px 10px 23px;
    text-align: center;
}

.stack-copyright p {
    text-align: center;
    font-size: 121.43%;
    letter-spacing: -0.2px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.stack-copyright img {
    display: inline-block;
    width: 100%;
}

.stack-copyright .content {
    margin: 0 auto;
}

/* @end */

/* @group Main Banner */

.main-banner .btn {
    height: 58px;
    line-height: 58px;
    min-width: 340px;
    padding-top: 0;
    padding-bottom: 0;
}

/* @end */

/* @group slidebar */

.sb-slidebar {
    background-color: #0565be;
}

.sb-slidebar li {
    border-bottom: 1px solid #3381c9;
}

.sb-slidebar a {
    color: #FFF;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.sb-slidebar a:hover {
    background-color: #0fc3ff;
}

/* @end */

/* @group Banner Cervezas */

.view-banner-cervezas ul {
    list-style-type: none;
}

.view-banner-cervezas li {
    display: inline-block;
    width: 33%;
    margin:0;
    float:left;
    position: relative;
}

.view-banner-cervezas a:link,
.view-banner-cervezas a:active,
.view-banner-cervezas a:visited,
.view-banner-cervezas a:hover {
    text-decoration:none;
    color: #484848;
}

.view-banner-cervezas .views-field-field-cerveza-descripcion-corta {
    position: absolute;
    left: 35%;
    top: 55px;
}

.view-banner-cervezas .views-field-field-cerveza-descripcion-corta p:first-child {
    text-transform: uppercase;
}
.view-banner-cervezas .views-field-field-cerveza-descripcion-corta p strong {
    font-size: 26px;
}

.view-banner-cervezas .amarillo {
    background: rgb(220,194,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(220,194,0,1) 0%, rgba(255,246,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220,194,0,1)), color-stop(100%,rgba(255,246,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(220,194,0,1) 0%,rgba(255,246,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(220,194,0,1) 0%,rgba(255,246,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(220,194,0,1) 0%,rgba(255,246,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(220,194,0,1) 0%,rgba(255,246,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcc200', endColorstr='#fff600',GradientType=0 ); /* IE6-9 */
}

.view-banner-cervezas .vainilla {
    background: rgb(207,194,143); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(207,194,143,1) 0%, rgba(255,240,179,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,194,143,1)), color-stop(100%,rgba(255,240,179,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(207,194,143,1) 0%,rgba(255,240,179,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(207,194,143,1) 0%,rgba(255,240,179,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(207,194,143,1) 0%,rgba(255,240,179,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(207,194,143,1) 0%,rgba(255,240,179,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfc28f', endColorstr='#fff0b3',GradientType=0 ); /* IE6-9 */
}

.view-banner-cervezas .celeste {
    background: rgb(0,112,191); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,112,191,1) 0%, rgba(149,211,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,112,191,1)), color-stop(100%,rgba(149,211,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,112,191,1) 0%,rgba(149,211,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,112,191,1) 0%,rgba(149,211,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,112,191,1) 0%,rgba(149,211,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,112,191,1) 0%,rgba(149,211,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070bf', endColorstr='#95d3ff',GradientType=0 ); /* IE6-9 */
}

/* @end */

/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /* @group Header */

    .site-name-wrapper .site-name a {
        background-size: 100% 100%;
    }

    .btn-login-search .btn-icon > a {
        width: 60px;
    }

    .btn-login-search .btn-icon-login > a {
        background-position: 10px -160px;
    }

    .btn-login-search .btn-icon-search > a {
        background-position: 10px -200px;
    }

    /* @end */

    /* @group Footer */

    #footer .col-2 .col-first {
        width: 59%;
        padding: 0 1%;
    }

    #footer .col-2 .col-second {
        width: 39%;
        margin: 0 0 0 1%;
        padding: 0 0 0 1%;
    }

    /* @end */

    /* @group Social Header */

    .socialHeader {
        display: block;
    }

    /* @end */

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* @group Header */

    #block-search-form {
        min-width: 375px;
    }

    #block-search-form input.form-text {
        width: 315px;
    }

    /* @end */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* @end */