/* @group Static pages */

/* @end */

/* @group Aguila en Vivo */

.aguila-en-vivo {
    position: relative;
    font-size: 18px;
    font-family: "Open Sans";
    line-height: 30px;
    position: relative;
    margin: 0 auto;
    max-width: 1058px;
}

.aguila-en-vivo h2 {
    font-family: Dubiel, Georgia, Times, serif;
    font-size: 35px;
    margin-bottom: 5px;
}

.aguila-en-vivo .mainText {
    width: 56%;
}

.aguila-en-vivo .mainText h1 {
    font-family: 'ITCAvantGardePro', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 71px;
    margin-top: 9px;
    line-height: 72px;
    letter-spacing: -3.2px;
    margin-bottom: 40px;
}

.aguila-en-vivo .mainText p {
    margin-bottom: 40px;
}

.aguila-en-vivo .mainText h3 {
    font-family: 'ITCAvantGardePro', Helvetica, Arial, sans-serif;
    font-size: 24px;
    float: left;
    display: block;
    width: 54%;
    margin-top: 2px;
}

.aguila-en-vivo .mainText .mostrarMapa {
    font-size: 13.8px;
    padding-top: 3px;
    height: 38px;
    background-image: url(../images/sprite.png);
    background-position: 430px -882px;
    background-repeat: no-repeat;
}

.aguila-en-vivo .mainText .mostrarMapa a {
    color: #868686;
    text-decoration: underline;    
}

.aguila-en-vivo .calendarBox {
    position: absolute;
    width: 38%;
    top: 0;
    right: 0;
    min-height: 200px;
}

.eventos-aguila-en-vivo .view-content {
    display: none;
}

.eventos-aguila-en-vivo {
    margin-bottom: 40px;
}


#block-views-lista-de-galerias-block {
    border-top: solid 1px #b1b1b1;
    margin: 62px 0;
}

#block-views-lista-de-galerias-block h2 {
    margin: 46px auto;
    max-width: 1058px;
    color: #3e3e3e;
    font-family: 'ITCAvantGardePro', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: -1.2px;
}

#block-views-lista-de-galerias-block h2 b,
#block-views-lista-de-galerias-block h2 strong {
    color: #29c7fc;
    font-weight: 700;
}

#block-views-lista-de-galerias-block .view-content {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

#block-views-lista-de-galerias-block  .views-row {
    display: inline-block;
    width: 280px;
    font-family: "Open Sans";
    font-size: 13px;
    text-align: center;
    color: #777777;
    margin: 0 7px;
    letter-spacing: 0.5px;
}

#block-views-lista-de-galerias-block  .views-row .views-field-title {
    font-size: 18px;
    color: #222222;
    margin-top: 15px;
}
  

/* @end */

/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* @end */