/* @group Slider */

.wrapper-content .stack-banner,
.wrapper-content .stack-banner + .wrapper-content .stack-content-inner {
    padding-top: 0;
}

.region-banner .views-row {
    display: none;
}

.region-banner .views-row.views-row-first,
.region-banner .views-row-first .slider-background {
    display: block !important;
    visibility: visible !important;
}

.region-banner .slick-initialized .views-row .slider-background,
.region-banner .slick-initialized .views-row .slider-background img {
    display: none !important;
    visibility: hidden !important;
}

.region-banner .views-row-first .slider-background img {
    display: block;
    width: 100%;
    height: auto;
}

.region-banner .views-row,
.region-banner .views-row.noborder {
    border-bottom: 6px solid transparent;
    position: relative;
}

.region-banner .views-row.bordeamarillo {
    border-color: #ffd800;
}

.region-banner .views-row.bordeceleste {
    border-color: #0fc3ff;
}

.region-banner .views-row {
    min-height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.region-banner .slick-initialized .views-row {
    display: block;
}

.slide-content {
    color: #fff;
    padding: 0 5% 0;
    display: none;
    width: 100%;
    top: 0;
}

.slick-initialized .slide-content {
    display: block;
}

.slide-content p {
    margin: 5px 0 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 90%;
}

.slide-content em {
    font: italic normal 165%/0.8 Dubiel;
    font-family: Dubiel, Georgia, Times, serif;
    margin: 0 0 0 5px;
    font-style: italic;
    display: inline-block;
    letter-spacing: 1.2px;
}

.slide-content h3 {
    padding: 0;
    margin: 0;
    font: normal 250%/1 'ITCAvantGardePro';
    font-family: 'ITCAvantGardePro', Helvetica, Arial sans-serif;
    letter-spacing: -2px;
}

.slide-content .transform-like-module {
    background-color: transparent !important;
    border: none !important;
    padding: 5px 0 !important;
}

.slide-content .media-thumbnail-frame:before,
.slide-content .media-thumbnail-frame:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.slide-content .media-thumbnail-frame {
    text-align: center;
}

.slide-content .media-thumbnail-frame img {
    display: inline-block;
    width: auto;
    max-width: 175px;
}

.slide-content hr {
    border-top: 3px solid #fff;
    margin: 20px auto;
    max-width: 155px;
}

.region-banner .btn {
    height: 38px;
    min-width: 75px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 5px 0 0 0;
    font-size: 100%;
    line-height: 38px;
}

.slick-slider {
    margin: 0;
}

.slick-slider .slick-dots {
    bottom: 0;
    margin: 0;
    padding: 0 10px 10px;
}

.slick-dots li {
    background: url(../images/sprite.png) 3px -915px no-repeat transparent;
}

.slick-dots .slick-active {
    background-position: 1px -878px;
}

.front.slick-slider:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -14px;
    left: 13%;
    width: 40px;
    height: 40px;
    min-height: 40px;
    padding: 10px 12px;
    color: #fff;
    border-color: transparent;
    background-color: #0fc3ff;
    background-image: url(../images/sprite.png);
    background-position: 100% -560px;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* @end */

/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

    .slide-content .media-thumbnail-frame img {
        max-width: 225px;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .slide-content h3 {
        font-size: 375%;
        line-height: 0.8;
        letter-spacing: -2px;
    }

    .region-banner .btn {
        height: 38px;
        line-height: 38px;
        min-width: 100px;
        font-size: 128%;
    }

    .slide-content p {
        font-size: 100%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .slide-content {
        padding: 54px 2% 50px;
    }

    .front .region-banner .views-row {
        min-height: 664px;
    }

    .region-banner .views-row {
        min-height: 465px;
    }

    .slide-content p {
        margin: 10px 0 0;
        font-size: 128%;
    }

    .slide-content em {
        font-size: 300%;
    }

    .slide-content h3 {
        padding: 0;
        margin: 6px 0;
        font-size: 690%;
        letter-spacing: -4px;
    }

    .slide-content .media-thumbnail-frame img {
        max-width: none;
    }

    .slide-content hr {
        border-top: 5px solid #fff;
        margin: 45px auto 30px;
    }

    .slide-content .transform-like-module {
        padding: 30px 0 !important;
    }

    .region-banner .btn {
        height: 58px;
        line-height: 58px;
        min-width: 150px;
        margin: 30px 0 0;
    }

    .slick-slider .slick-dots {
        padding: 0 10px 37px;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    .region-banner .views-row {
        padding: 0 30px;
    }

    .slide-content {
        padding: 54px 0 50px;
    }

}
/* @end */