/* @group Social Header */

.region-preheader-second {
    line-height: 0px;
}

.socialHeader {
    position: fixed;
    top: 175px;
    list-style-type: none;
    right: 0;
    display: none;
}

.socialHeader .socialLink1,
.socialHeader .socialLink2,
.socialHeader .socialLink3,
.socialHeader .socialLink4 {
    display:block;
    width: 50px;
    height: 50px;
    background-image: url(../images/sprite-social.png);
    background-repeat: no-repeat;
    border: solid 5px;
}

.socialHeader .socialLink1 {
    background-color: #3a579b;
    border-color: #3a579b;
    background-position: -40px 0;
}

.socialHeader .socialLink1:hover {
    background-color: #7589b9;
}

.socialHeader .socialLink2 {
    background-color: #d03428;
    border-color: #d03428;
    background-position: -40px -40px;
}

.socialHeader .socialLink2:hover {
    background-color: #de7168;
}

.socialHeader .socialLink3 {
    background-color: #598dc9;
    border-color: #598dc9;
    background-position: -40px -80px;
}

.socialHeader .socialLink3:hover {
    background-color: #8aafd9;
}

.socialHeader .socialLink4 {
    background-color: #e1411f;
    border-color: #e1411f;
    background-position: -40px -120px;
}

.socialHeader .socialLink3:hover {
    background-color: #ea7a62;
}

/* @end */

/* @group Social Footer */
.socialFooter {
    position:relative;
    max-width: 1200px;
    margin: 0 auto;
}

.socialFooterContainer {
    overflow: hidden;
}

.socialFooter .socialExtensionLeft,
.socialFooter .socialExtensionRight {
    position: absolute;
    height: 68px;
    top: 0;
    width: 100%;
}

.socialFooter .socialExtensionLeft {
    left: -100%;
    background-color: #00a0d4;
}

.socialFooter .socialExtensionRight {
    right: -100%;
    background-color: #858585;
}

.socialFooter ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.socialFooter .socialTab1,
.socialFooter .socialTab2,
.socialFooter .socialTab3,
.socialFooter .socialTab4 {
    float: left;
    width: 25%;
    height: 67px;
    display: block;
    border-width: 0;
}

.socialFooter .socialTab1:before,
.socialFooter .socialTab2:before,
.socialFooter .socialTab3:before,
.socialFooter .socialTab4:before {
    content: '';
    display: block;
    width: 40px;
    margin: 14px auto;
    height: 40px;
    background-image: url(../images/sprite-social.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.socialFooter  .socialTab1 {
    background-color: #00a0d4;
}

.socialFooter  .socialTab1:hover {
    background-color: #4cbce1;
}

.socialFooter  .socialTab2 {
    background-color: #39589b;
}

.socialFooter  .socialTab2:hover {
    background-color: #748ab9;
}

.socialFooter  .socialTab2:before {
    background-position: 0 -40px;
}

.socialFooter  .socialTab3 {
    background-color: #f6085d;
}

.socialFooter  .socialTab3:hover {
    background-color: #f9528d;
}

.socialFooter  .socialTab3:before {
    background-position: 0 -80px;
}

.socialFooter  .socialTab4 {
    background-color: #858585;
}

.socialFooter  .socialTab4:hover {
    background-color: #a9a9a9;
}

.socialFooter  .socialTab4:before {
    background-position: 0 -120px;
}

/* @end */

/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 1024px) {

    .socialHeader {
        display: block;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* @end */