/* @group View Dynamic Filter */

.view-dynamic-filter {
    background-color: #f2f5f8;
    font-size: 80%;
    margin: 0 0 20px 0 !important;
}

.view-dynamic-filter,
.view-dynamic-filter p,
.view-dynamic-filter ul + p,
.view-dynamic-filter ul .btn {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #0f796b;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.view-dynamic-filter ul .btn {
    font-size: 100%;
}

.view-dynamic-filter .view-content ul:before,
.view-dynamic-filter .view-content ul:after,
.view-dynamic-filter .views-row > div:before,
.view-dynamic-filter .views-row > div:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.view-dynamic-filter .views-row > div > p {
    font-size: 112.5%;
    float: none;
    padding: 10px 10px 0;
    width: 100%;
    color: #0f796b;
    text-align: left;
    font-weight: 600;
}

.view-dynamic-filter .view-content ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 8px 10px 8px;
    float: none;
    width: 100%;
}

.view-dynamic-filter .views-row > div > ul + p {
    font-size: 87.5%;
    color: #868686;
    float: none;
    width: 100%;
    padding: 0 10px 10px;
    font-weight: normal;
}

.view-dynamic-filter .views-row > div > ul + p * {
    color: #868686;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.view-dynamic-filter .views-row > div > ul + p .btn {
    margin-right: 10px;
}

.view-dynamic-filter .view-content li {
    float: left;
    padding: 0;
    margin: 0 2px;
}

.view-dynamic-filter .view-content .filter {
    color: #666666;
    display: inline-block;
    padding: 8px 11px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

.view-dynamic-filter .view-content .filter:hover, 
.view-dynamic-filter .view-content .active {
    background-color: #0fc3ff;
    color: #fff;
}

.view-dynamic-filter .view-content .btn-symbol.filter {
    padding: 8px 11px 8px 40px;
}

.view-dynamic-filter .btn:active,
.view-dynamic-filter .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.view-dynamic-filter .btn-symbol-geo {
    background-position: -5px -86px;
}

/* @end */

/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

    .view-dynamic-filter {
        font-size: 90%;
    }

    .view-dynamic-filter .view-content li {
        margin: 5px 2px;
    }

    .view-dynamic-filter .view-content ul {
        padding: 5px 15px 10px 15px;
    }

    .view-dynamic-filter .views-row > div > p {
        padding: 10px 20px 0;
    }

    .view-dynamic-filter .views-row > div > ul + p {
        padding: 0 18px 10px 18px;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .filtros-la-ruta .view-content ul {
        float: none;
        width: 100%;
    }

    .filtros-la-ruta-fiesta .view-content ul {
        float: left;
        width: 75%;
    }

    .view-dynamic-filter .views-row > div > ul + p {
        float: right;
        width: 25%;
        padding: 9px 18px 0 0;
    }

    .view-dynamic-filter .btn-symbol-geo {
        padding: 0 18px;
        height: 37px;
        background-position: -2px -83px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .view-dynamic-filter {
        font-size: 114%;
        margin: 0 0 40px !important;
    }

    .view-dynamic-filter .views-row > div > p {
        padding: 15px 33px 0 18px;
    }

    .view-dynamic-filter .view-content ul {
        padding: 14px 0 10px 18px;
    }

    .view-dynamic-filter .views-row > div > ul + p {
        padding: 16px 18px 0 0;
    }

    .view-dynamic-filter .view-content .filter {
        padding: 8px 18px;
    }

    .view-dynamic-filter .view-content .btn-symbol.filter {
        padding: 8px 18px 8px 40px;
    }

    .view-dynamic-filter .views-row > div > ul + p .btn {
        margin-right: 24px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    .view-dynamic-filter .views-row > div > p {
        float: left;
        padding: 25px 18px 0;
        width: 17%;
    }

    .view-dynamic-filter .view-content ul {
        padding: 14px 0 10px 28px;
        float: left;
        width: 80%;
    }

    .view-dynamic-filter .view-content div > p + ul {
        padding: 14px 0 10px;
    }

    .view-dynamic-filter .views-row > div > ul + p {
        width: 20%;
    }
}
/* @end */