/* @group Groupname */

#age_checker_overlay {
    background-size: cover;
}

#age_checker_overlay #age_checker_verification_popup {
    top: 35.6%;
    background:url(../images/blank.gif);
    background-color: transparent !important;
    border: solid 0px #000;
    border: none;
    color: #fff;
    width: 95%;
    margin-left: -215px;
    font-size: 11px;
    max-width: 95%;
    z-index: 2;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#age_checker_verification_popup p {
    margin: 0px;
}

#age_checker_verification_popup option,
#age_checker_verification_popup select {
    color: #000;
}

#age_checker_message0 {
    float: none;
    width: 80%;
}

#age_checker_widget {
    float: none;
    width: 80%;
    padding: 0;
    margin: 0;
}

#age_checker_verification_popup .agegate-label {
    display: inline;
}

#age_checker_verification_popup #age-checker-getform {
    padding-top: 2px;
}

.age_checker_widget.dateselect {
    background-image: url('../images/agegate_input.png?r=1');
    background-position: 50% 0;
    background-repeat: no-repeat;
}

#age_checker_widget:before {
  content: "INGRESA TU FECHA DE NACIMIENTO:";
}

#age_checker_message1 p span {
    line-height: 14px !important;
}

#age_checker_message1 {
    clear: both;
}

.agegate_country_select select {
    width: 90%;
    margin-bottom: 12px;
    margin-top: 8px;
}

.form-item, .form-actions {
    margin-bottom: 0;
    margin-top: 0;
}

#age_checker_widget .dateselect .form-item {
    margin: 0 5px;
}

#age_checker_widget .dateselect #age_checker_month,
#age_checker_widget .dateselect #age_checker_day,
#age_checker_widget .dateselect #age_checker_year {
    height: 52px !important;
    padding: 0;
    margin: 0;
    font-size: 20px;
    /*line-height: 48px !important;*/
    /*width: 48px;*/
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#age_checker_widget .dateselect #age_checker_month,
#age_checker_widget .dateselect #age_checker_day {
    width: 48px;
}

#age_checker_widget .dateselect #age_checker_year {
    width: 65px ;
}

#age_checker_widget .form-type-textfield {
margin: 0px 5px 0px 5px;
}

#age_checker_widget .dateselect .form-submit {
    /*width: 238px;*/
    width: 100%;
    max-width: 243px !important;
    min-width: 50px !important;
    margin: 7px 0 23px !important;
    padding: 0;
    border-radius: 30px;
    background-color: #14DE6E;
    background-image: none;
    height: 42px;
    font-size: 15px;
    border: none;
    text-shadow: none;
    text-align: center;
}

.agegate_beer {
    background-image: url('../images/agegate_beer.png');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 88.5%;
    min-height: 520px;
    display: none;
}

#agegate_logo {
    max-width: 90%;
    height: auto !important;
    margin-top: 10%;
}

.agegate_footer > .media-thumbnail-frame{
    float: left;
}

.agegate_header {
    background-image: url('../images/agegate_header.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    width: 100%;
    height: 157px;
    max-height: 16%;
    z-index: 3;
}

.agegate_footer a {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    margin-top: 18px;
    margin-left: 8px;
    letter-spacing: 0.1px;
}

.agegate_footer {
    position: absolute;
    bottom: 21px;
    width: 100%;
    padding: 12px 12px 9px 18px !important;
    display: none;
    z-index: 3;
}

/* @end */


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    #age_checker_message0 {
        float: left;
        width: 41%;
    }

    #age_checker_widget {
        float: right;
        width: 56%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 640px) {
    #age_checker_verification_popup {
        left: 0 !important;
        margin-left: 4% !important;
        top: 0 !important;
        margin-top: 0 !important;
    }

}
@media only screen and (min-width : 641px) {

    #age_checker_verification_popup {
        top: 35.6% !important;
        margin-left: -120px !important;
        height: 65%;
        width: 470px !important;

    }
    .agegate_beer {
        display: block;
    }
    .agegate_footer {
        display: block;
    }

    #agegate_logo {
        margin-top: 0px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* @end */