/* @group Contenido Articulo */
.contenido-articulo,
.contenido-articulo a {
    color: #fff;
    font-family: 'proxima-nova', 'Helvetica Neue', sans-serif;
}

.layout-1-columna.contenido-articulo .texto-articulo {
    font-size: 16px;
}
/* @end */

/* @group Contenido Articulo Superior */
.contenido-articulo .superior {
    text-align: center;
    padding-bottom: 10px;
}

.contenido-articulo .superior img {
    width: 100%;
    height: auto;
}
/* @end */

/* @group Contenido Articulo Principal */
.contenido-articulo .principal {
    padding: 0 20px 0 10px;
}

.layout-2-columnas .principal p {
    margin-bottom: 20px;
}

.contenido-articulo .no-padding .texto-articulo {
    padding: 0;
    margin: 0;
}

.contenido-articulo .no-padding .texto-articulo.principal img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
/* @end */

/* @group Contenido Articulo Secundario */
.layout-2-columnas.contenido-articulo .secundario {
    text-align: center;
}

.contenido-articulo .secundario {
    padding: 0 10px 30px 20px;
}

.contenido-articulo .secundario  img {
    width: auto;
    height: auto;
    max-height: 400px;
    max-width: 90%;
}
/* @end */

/* @group página Notas de Prensa */
.notas-de-prensa .contenido-articulo {
    margin-left: 50px;
    margin-right: 50px;
}
/* @end */


/* @group Media Query */

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /* @group Contenido Articulo Secundario */
    .contenido-articulo .secundario  img{
        width: auto;
        height: auto;
        max-height: 500px;
        max-width: 90%;
    }
    /* @end */
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* @group Contenido Articulo */
    .layout-2-columnas.contenido-articulo .principal,
    .layout-2-columnas.contenido-articulo .secundario {
        width: 50%;
        float: left;
    }
    /* @end */

    /* @group Contenido Superior */
    .contenido-articulo .superior img {
        width: auto;
    }
    /* @end */

    /* @group Contenido Secundario */
    .contenido-articulo .secundario {
        padding: 0 10px 0 20px;
    }

    .contenido-articulo .secundario  img {
        width: 66%;
        height: auto;
        max-height: none;
        max-width: none;
    }
    /* @end */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* @end */