 /* @group Fonts */

/* Oswald */
/*
Oswald Light:   font-style: normal | font-weight: 300
Oswald Regular: font-style: normal | font-weight: 400
Oswald Bold:    font-style: normal | font-weight: 700
*/

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

/* @end */

/* @group Colors */

/*
$white, $light          = #fff    | rgb(255, 255, 255);
$blue                   = #004a98 | rgb(0, 74, 152);
$green                  = #afd25a | rgb(175, 210, 90);
$red                    = #f30621 | rgb(243, 6, 33);
$black, $dark           = #000    | rgb(0, 0, 0);
*/

/* @end */

/* @group Content */
.wrapper-content {
    margin-top: 100px;
    margin-bottom: 25px;
}

.toolbar .wrapper-content {
    margin-top: 150px;
}

.wrapper-content .stack-content-inner,
.wrapper-content .stack-content-inner .tabs,
.wrapper-content .stack-content-inner .content-area .block.block-views {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.stack-copyright {
    padding-bottom: 0;
}
/* @end */

/* @group Page Background */
body {
    background-color: #004a98;
}

#page {
    background-repeat: repeat-y;
    background-size: contain;
}
/* @end */

/* @group Media Query */

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /* @group Content */
    .toolbar .wrapper-content {
        margin-top: 150px;
    }
    /* @end */
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* @group Content */
    .wrapper-content {
        margin-top: 150px;
        margin-bottom: 100px;
    }
    /* @end */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* @end */