 /* @group Fonts */

/* Oswald */
/*
Oswald Light:   font-style: normal | font-weight: 300
Oswald Regular: font-style: normal | font-weight: 400
Oswald Bold:    font-style: normal | font-weight: 700
*/

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

/* @end */

/* @group Colors */

/*
$white, $light          = #fff    | rgb(255, 255, 255);
$blue                   = #004a98 | rgb(0, 74, 152);
$green                  = #afd25a | rgb(175, 210, 90);
$red                    = #f30621 | rgb(243, 6, 33);
$black, $dark           = #000    | rgb(0, 0, 0);
*/

/* @end */

/* @group Content */

html,
body,
#page .page-width,
#page .page-width .lining {
    height: 100%;
}

.wrapper-content {
    margin-top: 100px;
    margin-bottom: 0;
    min-height: 70%;
}

.toolbar .wrapper-content {
    margin-top: 150px;
}

.wrapper-content .stack-content-inner,
.wrapper-content .stack-content-inner .tabs,
.wrapper-content .stack-content-inner .content-area .block.block-views {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.stack-copyright {
    padding-bottom: 0;
}

#content-inner.no-padding .box {
    padding-left: 0;
    padding-right: 0;
}
/* @end */

/* @group Page Background */
body {
    background-color: #004a98;
}

#page {
    background-repeat: repeat;
    background-position: center -305px;
    background-size: initial;

}
/* @end */

/* @group Messages */
.stack-messages {
    padding-bottom: 2.0769em;
}
/* @end */

/* @group Search page */

.page-search .stack-breadcrumb,
.page-search .stack-breadcrumb a {
    color: #000;
}

.page-search .stack-content-inner {
    padding: 0 20px
}

.page-search .stack-content-inner #page-title {
    display: block;
    padding-top: 30px;
}

.page-search .stack-content-inner .form-type-textfield {
    margin-left: 0;
}

.search-result .title a {
font-weight: 700;
}

.search-info .username {
    display: none;
}
/* @end */

/* @group Fixed Elements */
/*
 * When slidebar opens increase width of
 * fixed elements to avoid missplacing of
 * elements
 */
.sb-active .stack-navigation,
.sb-active .stack-breadcrumb,
.sb-active .stack-preheader .col-second {
    width: 100%;
}
/* @end */

/* @group Media Query */

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /* @group Content */
    .wrapper-content  {
        margin-top: 150px;
    }

    .toolbar .wrapper-content {
        margin-top: 180px;
    }
    /* @end */

    /* @group Search page */
    .page-search .wrapper-content {
        margin-top: 120px
    }
    /* @end */
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* @group Content */

    html,
    body,
    #page,
    #page .page-width,
    #page .page-width .lining {
        height: auto;
    }

    .toolbar .wrapper-content,
    .wrapper-content,
    .page-search .wrapper-content {
        margin-top: 80px;
        margin-bottom: 100px;
    }
    /* @end */

    /* @group Contacto */
    .stack-prefooter {
        position: fixed;
        bottom: 108px;
    }
    /* @end */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* @end */