/* @group Header */

.stack-preheader {
    position: fixed;
    width: 100%;
    height: 0;
    z-index: 200;
    background-color: transparent;
}

.stack-preheader .col-2 {
    padding: 10px 0 0 10px;
}

.stack-preheader .col-first,
.stack-preheader .col-second {
    position: fixed;
    width: auto;
    z-index: 150;
}

.stack-preheader .site-name a {
    display: inline-block;
    width: 56px;
    height: 66px;
    background: url(../images/logo.png) no-repeat top center transparent;
    background-size: cover;
}

.stack-preheader .col-second {
    right: 0;
    margin-left: 76px;
    padding-right: 17px;
}

#preheader-second-region .block-social-media {
    margin-bottom: 5px;
    margin-left: 0;
}

#preheader-second-region .block-social-media li {
    margin-left: 9px;
}

#preheader-second-region .block-social-media li:first-child {
    margin-left: 0;
}

.stack-preheader .col-second #search-block-form {
    display: none;
    position: relative;
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 5px
}

.stack-preheader .col-second .form-text {
    width: 215px;
    height: 30px;
    padding-left: 24px;
    padding-right: 30px;
    margin: 0;
    outline: none;
    border: none;
    border-radius: 6px;
    background: #fff url(../images/sprite-search.png) no-repeat top left;
}

.stack-preheader .col-second .form-submit {
    height: 30px;
    width: 30px;
    outline: none;
    font-size: 0;
    border: none;
    border-radius: 0 6px 6px 0;
    background: url(../images/sprite-search.png)  no-repeat bottom center transparent;
    position: absolute;
    top: 0;
    right: 0;
}

#preheader-second-region .btn-menu-mobile a {
    width: 29px;
    height: 29px;
    padding: 3px 5px;
    background-color: #004a98;
    border-color: #fff
}

#preheader-second-region .btn-menu-mobile .icon-bar {
    width: 17px;
    background-color: #fff;
}

.stack-navigation {
    background: #004a98;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    padding: 0 430px 0 168px;
}

.stack-navigation .box {
    padding: 0;
}

.stack-navigation #navigation-region {
    width: 100%;
}

.stack-navigation #block-system-main-menu ul.menu.pulldown {
    padding: 14px 0 0 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    /*text-transform: uppercase;*/
}

.stack-navigation #block-system-main-menu ul.menu ul{
    background-color: #004a98;
    text-transform: none;
    border-radius: 0;
}

.stack-navigation .menu .level-1,
.stack-navigation .menu .level-1.first {
    padding: 0;
    padding: 0 20px 5px 0;
}

.stack-navigation .menu .level-1 > a {
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom-color 0.3s;
    -moz-transition: border-bottom-color 0.3s;
    -o-transition: border-bottom-color 0.3s;
    transition: border-bottom-color 0.3s;
}

.stack-navigation .menu .level-1 > a:hover {
    text-decoration: none;
    border-bottom-color: #e0e1e2;
}

.stack-navigation .menu .level-2 {
    border-bottom: 1px solid #fff;
}

.stack-navigation .menu .level-2:last-child {
    border-bottom: none;
}

.stack-navigation .menu .level-2 a:hover {
    text-decoration: none;
    color: #ccc;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.stack-navigation .menu a,
.sb-slidebar a {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
}

.sb-slidebar {
    background-color: #004a98;
}

.stack.stack-precontent {
    padding: 0;
    position: fixed;
    z-index: 210;
    top: 80px;
    right: 0;
}

.stack-precontent .content p {
    margin: 0;
}
.stack-precontent .col-1 {
    padding: 0;
}

.toolbar .stack-navigation,
.toolbar .stack-preheader .col-first,
.toolbar .stack-preheader .col-second {
    top: 120px;
}

.toolbar.toolbar-drawer .stack-navigation,
.toolbar.toolbar-drawer .stack-preheader .col-first,
.toolbar.toolbar-drawer .stack-preheader .col-second {
    top: 154px;
}

.toolbar .stack.stack-precontent {
    top: 200px;
}

.toolbar.toolbar-drawer .stack.stack-precontent {
    top: 244px;
}

.toolbar .sb-slidebar {
    padding-top: 120px;
}

.toolbar.toolbar-drawer .sb-slidebar {
    padding-top: 154px;
}

/* @end */


/* @group Media Query */

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /* @group Header */

    .stack-preheader .site-name a {
        width: 118px;
        height: 136px;
    }

    .stack-preheader .col-first.col.left:first-child {
        padding: 5px 0 0 40px
    }

    .stack-preheader .col-second {
        margin-left: 0;
        padding: 16px 71px 0 0;
    }

    .toolbar .stack-navigation,
    .toolbar .stack-preheader .col-first,
    .toolbar .stack-preheader .col-second {
        top: 90px;
    }

    .toolbar.toolbar-drawer .stack-navigation,
    .toolbar.toolbar-drawer .stack-preheader .col-first,
    .toolbar.toolbar-drawer .stack-preheader .col-second {
        top: 124px;
    }

    .toolbar .stack.stack-precontent {
        top: 170px;
    }

    .toolbar.toolbar-drawer .stack.stack-precontent {
        top: 214px;
    }

    /* @end */
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* @group Header */
    .stack-preheader {
        background: transparent;
        position: static;
    }

    .stack-navigation {
        height: 80px;
    }

    .stack-preheader .col-second #search-block-form {
        display: block;
    }

    .toolbar .stack-navigation,
    .toolbar .stack-preheader .col-first,
    .toolbar .stack-preheader .col-second {
        top: 30px;
    }

    .toolbar.toolbar-drawer .stack-navigation,
    .toolbar.toolbar-drawer .stack-preheader .col-first,
    .toolbar.toolbar-drawer .stack-preheader .col-second {
        top: 64px;
    }

    .toolbar .stack.stack-precontent {
        top: 110px;
    }

    .toolbar.toolbar-drawer .stack.stack-precontent {
        top: 144px;
    }

    /* @end */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    /* @group Header */

    /* @end */
}

/* Special size for navigation */
@media only screen and (min-width : 1240px) {
    /* @group Header */
    .stack-navigation #block-system-main-menu ul.menu.pulldown {
        padding: 27px 0 0 0;
    }
    /* @end */
}

/* @end */