/* @group Conocelas*/

.conocelas-2015 #page {
    background-size: auto 100%;
    height: auto;
    background-position: 0 0;
}

.section-conocelas ul {
    width: 100%;
}

.section-conocelas .media-thumbnail-frame {
    display: inline;
}

.section-conocelas li {
    width: 60%;
    margin: 20px auto;
    list-style: none;
    -webkit-box-shadow: 7px 12px 13px 0px rgba(96, 61, 27, 0.54);
    -moz-box-shadow: 7px 12px 13px 0px rgba(96, 61, 27, 0.54);
    box-shadow: 7px 12px 13px 0px rgba(96, 61, 27, 0.54);
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=13, Direction=120, Color='#603d1b')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=13, Direction=120, Color='#603d1b');
}

.section-conocelas li img {
    width: 100%;
    height: auto;
}
/* @end */

/* @group Fotos Chicas */
.section-fotos-chicas {
    padding-bottom: 25px;
}

.section-fotos-chicas ul,
.section-fotos-chicas > div {
    max-width: 865px;
    margin: 0 auto;
}

.section-fotos-chicas li {
    list-style-type: none;
    max-width: 270px;
    margin: 0 auto;
}

.section-fotos-chicas li:nth-child(2) {
    margin-top: 20px;
}

.section-fotos-chicas > div {
    clear: both;
    margin-top: 5px;
}

.section-fotos-chicas li img,
.section-fotos-chicas > div img {
    width: 100% !important;
    height: auto !important;
}
/* @end */

/* @group Calendario*/
.section-descargar-calendario {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
/* @end */


/* @group Media Query */

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* @group Conocelas*/

    .conocelas-2015 #content {
        max-height: 477px;
    }

    .section-conocelas li {
        float: left;
        width: 17%;
        margin-left: 2%;
        margin-bottom: 20px;
    }
    /* @end */

    /* @group Fotos Chicas */
    .section-fotos-chicas li {
        float: left;
        margin-left: 11.5%;
    }

    .section-fotos-chicas li:nth-child(2) {
        float: right;
        margin-left: 0;
        margin-right: 9.5%;
        margin-top: 0;
    }
    /* @end */

    /* @group Calendario*/
    .section-descargar-calendario {
        text-align: left;
        margin-top: 0;
    }

    .section-descargar-calendario img {
        position: relative;
        top: 0;
        left: 56%;
    }
    /* @end */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* @end */