/* @group gallery page */

.node-media-gallery,
.node-media-gallery a,
.media-gallery-detail-wrapper,
.media-gallery-detail-wrapper a {
    font-family: 'proxima-nova', 'Helvetica Neue', sans-serif;
    color: #fff;
}

.node-media-gallery .media-gallery-item {
    background-color: transparent;
}

/* Gallery header */
.node-media-gallery .field-name-media-gallery-description {
    text-align: center;
}

/*Title below image*/
.node-media-gallery .media-gallery-item-wrapper {
    position: relative;
    color: #fff;
}

.node-media-gallery .media-gallery-item-wrapper {
    border: 8px solid transparent;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

.node-media-gallery .media-gallery-item-wrapper:hover {
    border-color: #004a98;
}

.node-media-gallery .media-gallery-item-wrapper .meta-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
}

.node-media-gallery .media-gallery-item-wrapper .meta-wrapper .meta-outer {
    min-height: 3em;
    height: auto;
    padding: 10px;
    display: block;
    line-height: 1.5em;
    background-color: rgba(0, 99, 169, 0.9);
}

.node-media-gallery .media-gallery-item-wrapper .media-title {
    color: #fff;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Title on hover*/
.node-media-gallery .media-gallery-item-wrapper .meta-wrapper.hover {
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
}

.node-media-gallery .media-gallery-item-wrapper .meta-wrapper.hover .meta-outer  {
    background-color: rgba(0, 99, 169, 0.9);
}

.node-media-gallery .media-gallery-item-wrapper .meta-wrapper.hover .slider {
    background-image: none;
    height: 0;
}

/* @end */

/* @group lightbox */

/*Gallery arrows*/
.mfp-gallery .mfp-arrow.mfp-arrow-right,
.mfp-gallery .mfp-arrow.mfp-arrow-left {
    width: 30px;
    height: 53px;
    background-image: url(../images/gallery-arrows.png);
    background-repeat: no-repeat;
    opacity: 1;
}

.mfp-gallery .mfp-arrow.mfp-arrow-right {
    margin-top: -27px;
    margin-right: 35px;
    background-position: -39px 0;
}

.mfp-gallery .mfp-arrow.mfp-arrow-left {
    margin-top: -27px;
    margin-left: 35px;
    background-position: 0 0;
}

.mfp-gallery .mfp-arrow.mfp-arrow-left:hover {
    background-position: 0 -52px;
}

.mfp-gallery .mfp-arrow.mfp-arrow-right:hover {
    background-position: -39px -52px;
}

.mfp-gallery .mfp-arrow:after,
.mfp-gallery .mfp-arrow:before {
    border: 0;
    border-width: 0;
}
/* @end */

/* @group item page */
.media-gallery-detail-wrapper {
    max-width: 95%;
    margin: 1em auto 0;
}

.media-gallery-detail-wrapper .media-gallery-detail {
    float: none;
    max-width: none;
    margin: 0;
}

.media-gallery-detail-wrapper,
.media-gallery-detail-wrapper a {
    color: #fff;
}

.media-gallery-detail-wrapper .field-name-media-description .field-label {
    display: none;
}

.media-gallery-detail-wrapper .media-gallery-detail-info .media-gallery-back-link,
.media-gallery-detail-wrapper .media-gallery-detail-info .media-gallery-detail-image-info-wrapper {
    display: block;
    float: none;
}

.media-gallery-detail-wrapper .media-gallery-detail-info .media-gallery-detail-image-info-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
}
/* @end */


/* @group Media Query */

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /* @group gallery page */
    .node-media-gallery .media-gallery-item-wrapper .media-title {
        white-space: normal;
    }

    .node-media-gallery .media-gallery-item-wrapper .meta-wrapper.hover .slider {
        height: auto;
    }
    /* @end */

    /* @group item page */
    .media-gallery-detail-wrapper {
        max-width: 70%;
        margin: 1em auto 0;
    }

    .media-gallery-detail-wrapper .media-gallery-detail-info .media-gallery-back-link,
    .media-gallery-detail-wrapper .media-gallery-detail-info .media-gallery-detail-image-info-wrapper {
        display: inline;
    }

    .media-gallery-detail-wrapper .media-gallery-detail-info .media-gallery-back-link {
        float: left;
    }

    .media-gallery-detail-wrapper .media-gallery-detail-info .media-gallery-detail-image-info-wrapper {
        margin-top: 0;
        margin-bottom: 0;
        float: right;
    }
    /* @end */
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* @group gallery page */
    /* Two columns layout */
    .node-media-gallery .mg-col-2 .field-item.even {
        padding-right: 40px;
    }

    .node-media-gallery .mg-col-2 .field-item.odd {
        padding-left: 40px;
    }

    .node-media-gallery .mg-col {
        padding-left: 13.25%;
        padding-right: 13.25%;
    }
    /* @end */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    /* @group item page */
    .media-gallery-detail-wrapper {
        max-width: 50%;
    }

    /* Two columns layout */
    .node-media-gallery .mg-col-2 .field-item.even {
        padding-right: 80px;
    }

    .node-media-gallery .mg-col-2 .field-item.odd {
        padding-left: 80px;
    }
    /* @end */
}

/* @end */