/* @group Video Collection */
.vista-lista-videos .large {
    display: none;
}

.vista-lista-videos .item-list ul {
    width: 90%;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    padding-top: 20px;
}

.vista-lista-videos .item-list li {
    display: inline-block;
}

.vista-lista-videos .video-area {
    position: relative;
    max-width: 854px;
    margin: 0 auto;
}

.vista-lista-videos .video-area .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 42px;
    margin-top: -21px;
    margin-left: -32px;
    background-image: url(../images/sprite-video.png);
    background-repeat: no-repeat;
}

.vista-lista-videos .video-area .wrapper {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.vista-lista-videos .video-area .large-thumb,
.vista-lista-videos .video-area iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.vista-lista-videos .video-area {
    color: #fff;
}
/* @end */


/* @group Media Query */

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /* @group Video Collection */

    /* @end */
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* @group Video Collection */

    /* @end */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    /* @group Video Collection */

    /* @end */
}

/* @end */