/* @group gallery page */
.node-media-gallery .media-gallery-item-wrapper {
    position: relative;
}

.node-media-gallery .media-gallery-item-wrapper .meta-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    /*background-color: rgba(0, 99, 169, 0.9);*/
    /*background-color: rgba(0, 74, 152, 0.9);*/
    color: #fff;
}

.node-media-gallery .media-gallery-item-wrapper .meta-wrapper .meta-outer {
    padding: 10px 10px 0 10px;
    display: block;
    line-height: 1.5em;
    min-height: 3em;
    background-color: rgba(0, 99, 169, 0.9);
}

.node-media-gallery .media-gallery-item-wrapper .media-title {
    /*width: auto;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* @end */

/* @group lightbox */

/*Gallery arrows*/
.mfp-gallery .mfp-arrow.mfp-arrow-right,
.mfp-gallery .mfp-arrow.mfp-arrow-left {
    width: 30px;
    height: 53px;
    background-image: url(../images/gallery-arrows.png);
    background-repeat: no-repeat;
    opacity: 1;
}

.mfp-gallery .mfp-arrow.mfp-arrow-right {
    margin-top: -27px;
    margin-right: 35px;
    background-position: -39px 0;
}

.mfp-gallery .mfp-arrow.mfp-arrow-left {
    margin-top: -27px;
    margin-left: 35px;
    background-position: 0 0;
}

.mfp-gallery .mfp-arrow.mfp-arrow-left:hover {
    background-position: 0 -52px;
}

.mfp-gallery .mfp-arrow.mfp-arrow-right:hover {
    background-position: -39px -52px;
}

.mfp-gallery .mfp-arrow:after,
.mfp-gallery .mfp-arrow:before {
    border: 0;
    border-width: 0;
}
/* @end */


/* @group Media Query */

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /* @group lightbox */

    /* @end */
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* @group lightbox */
    /*Gallery arrows*/

    /* @end */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    /* @group lightbox */

    /* @end */
}

/* @end */