/* @group Perfil Info */
.node-type-perfil-de-chica #breadcrumb {
    display: none;
}

.node-type-perfil-de-chica.toolbar .wrapper-content {
    margin-top: 110px;
}

.vista-perfil-chica,
.vista-perfil-chica a {
    color: #fff;
    font-family: 'proxima-nova', 'Helvetica Neue', sans-serif;
}

.vista-perfil-chica .contenido-perfil-chica {
    background: url(../images/fondo-perfil-chica.jpg);
    background-size: cover;
}

.vista-perfil-chica .video-perfil-chica {
    background: url(../images/fondo-perfil-video.jpg);
    background-size: cover;
    clear: both;
}

.vista-perfil-chica .foto-chica {
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
}

.vista-perfil-chica .foto-chica img {
    width: 100%;
    height: auto;
}

.vista-perfil-chica .info-chica {
    position: relative;
    background-color: rgba(5, 46, 90, 0.7);
    padding: 8%;
}

.vista-perfil-chica .perfil-btns {
    padding-bottom: 20px;
}

.vista-perfil-chica .perfil-btns a {
    display: inline-block;
    min-width: 90px;
    padding: 4px 27px;
    background-color: #f30621;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Helvetica Neue Condensed', 'Oswald', sans-serif;
    font-size: 16px;
}

.vista-perfil-chica .perfil-btns a:hover,
.vista-perfil-chica .ver-video-btn {
    text-decoration: none;
}

.vista-perfil-chica .texto-perfil-chica {
    padding-bottom: 10px;
}

.vista-perfil-chica .texto-perfil-chica img {
    width: auto;
    height: auto;
    max-height: 80px;
    max-width: 100%;
}

.vista-perfil-chica .siguiente {
    float: right;
}

.vista-perfil-chica .ver-video-btn {
    float: right;
    padding-left: 21px;
    font-family: 'futura' , 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: url(../images/red-arrow.png) no-repeat left center transparent;
}

/* @end */

/* @group Perfil Video */
.vista-perfil-chica .video-perfil-chica {
    padding-top: 55px;
}

.vista-perfil-chica .wrapper {
    max-width: 816px;
    margin: 0 auto;
    padding: 0 15px 25px;
    text-align: center;
}

.vista-perfil-chica .iframe {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 25px;
    overflow: hidden;
}

.vista-perfil-chica .iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 475px;
    border: 0;
}

.vista-perfil-chica .video-perfil-chica .descripcion {
    text-transform: uppercase;
    font-family: 'futura' , 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
/* @end */


/* @group Media Query */

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /* @group Perfil Info */
    .node-type-perfil-de-chica.toolbar .wrapper-content {
        margin-top: 180px;
    }

    .vista-perfil-chica .foto-chica {
        width: 40%;
        height: auto;
    }
    /* @end */
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* @group Perfil Info */
    .node-type-perfil-de-chica.toolbar .wrapper-content {
        margin-top: 145px;
    }

    .vista-perfil-chica .contenido-perfil-chica {
        position: relative;
        overflow: hidden;
    }

    .vista-perfil-chica .video-perfil-chica {
        clear: both;
    }

    .vista-perfil-chica .foto-chica {
        float: left;
        width: 20%;
        position: absolute;
        bottom: 0;
        padding-left: 10%;
    }

    .vista-perfil-chica .foto-chica img {
        width: auto;
        height: auto;
        max-height: 1200px;
        max-width: 100%;
        min-width: 250px;
    }

    .vista-perfil-chica .info-chica {
        margin: 0 3% 0 38%;
        padding: 62px 22px 62px 72px;
        min-height: 610px;
        background-color: rgba(5, 46, 90, 0.7);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3339546,endColorstr=#B3339546); 
        zoom: 1;
    }

    .vista-perfil-chica .texto-perfil-chica {
        padding-bottom: 0;
        padding-right: 48px;
    }

    .vista-perfil-chica .perfil-btns {
        position: absolute;
        top: 0;
        right: 22px;
    }

    .vista-perfil-chica .siguiente {
        float: none;
        margin-left: 17px;
    }

    .vista-perfil-chica .ver-video-btn {
        float: none;
        position: absolute;
        bottom: 26px;
        right: 22px;
    }
    /* @end */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    /* @group Perfil Info */

    /* @end */
}
/* @end */