/* @group Groupname */

.contacto #content-area {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.contacto #block-system-main,
.contacto #block-system-main  + div,
.contacto #block-system-main  + div + div {
    float: none;
    width: 100%;
    clear: none;
}

#block-block-41 {
    display: none;
}

#block-block-36,
.contacto #block-system-main+div+div .media-thumbnail-frame {
    text-align: center;
}

.contacto  .webform-client-form label.error  {
    background-color: #CC3D35;
    display: inline-block;
    padding: 7px 24px;
}

.contacto  .webform-client-form label.error +label {
    color: #CC3D35;
}

.contacto .webform-client-form label {
    display: block;
    color: white;
    margin-top: 13px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 13px;
}

.contacto .webform-client-form h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: #004A98;
    font-weight: bold;
    letter-spacing: 1.7px;
    padding-left: 35px;
    margin-bottom: 19px;
    background-image: url('../images/contact_bubble.png');
    background-repeat: no-repeat;
    background-position: 0px 0;
    height: 26px;
} 

.contacto .webform-client-form textarea {
    resize: none; 
    height: 100px;
    max-height: 100px;
    min-height: 100px;

}

.contacto .webform-client-form .description {
    color: #fff;
}

.contacto .webform-client-form textarea, 
.contacto .webform-client-form input.form-text {
    background-color: #004a98 !important;
    border-radius: 0;
    width: 100%;
    max-width: none;
    margin-top: 6px;
    color: #fff;
}

.contacto .webform-client-form input.form-text {
    height: 26px;
}


.contacto .webform-client-form  div#webform-component-new-1420834059538 span.field-prefix {
    position: absolute;
    color: #fff;
    top: 26px;
    left: 8px;
}

.contacto .webform-client-form  input#edit-submitted-new-1420834059538 {
    padding-left: 28px;
}

.contacto .webform-client-form .form-item {
    position: relative;
}


.contacto .webform-client-form button,
.contacto .webform-client-form input[type="button"], 
.contacto .webform-client-form input[type="reset"], 
.contacto .webform-client-form input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    background-image: none;
    background-color: rgb(0, 74, 152);
    text-shadow: none;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px;
    width: 116px;
    height: 43px;
    font-weight: bold;
}


.cntcmsg_blue {
    background-color: #00499E;
    margin-top: 71px;
    width: 100%;
    border-radius: 7px;
    height: 122px;
    color: #fff;
    text-align: center;
    line-height: 21px;
}

.cntcmsg_cyan {
    background-color: #1EA0D4;
    font-size: 19.6px;
    padding-top: 20px;
    border-radius: 7px;
    height: 78px;
}

.cntcmsg_blue a {
    color: #fff;
    background-color: #14DE6E;
    padding: 11px;
    border-radius: 25px;
    width: 130px;
    display: block;
    margin: -4px auto 0;
    text-shadow: none;
}

.cntcmsg_social {
    background-color: #e4e4e4;
    margin-top: 20px;
    border-radius: 7px;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: #004A98;
    padding: 8px 0px 6px 18px;
    background-image: url('../images/socialmsg_background.png');
    background-repeat: repeat-x;
}

.cntcmsg_social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cntcmsg_social ul li {
    display: inline-block;
    margin: 0;
    padding: 8px 16px 8px 40px;
    letter-spacing: 1.8px;
    background-image: url('../images/socialmsg_logos.png');
    background-repeat: no-repeat;
}

.cntcmsg_social ul li.scl_twitter {
    background-position:0 0;
}
.cntcmsg_social ul li.scl_facebook {
    background-position:0 -40px;
}
.cntcmsg_social ul li.scl_instagram {
    background-position:0 -80px;
}
.cntcmsg_social ul li.scl_youtube {
    background-position:0 -120px;
}
/* @end */


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .contacto #block-system-main,
    .contacto #block-system-main + div {
        float: left;
        width: 45.8%;
        clear: none;
    }
    .contacto #block-system-main + div {
        width: 50%;
    }

    .contacto #block-system-main +div+div {
        float: right;
        width: 45%;
        clear: none;
        margin-top: 7px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* @end */