/* @group Carousel*/
.front:not(.toolbar) .wrapper-content {
    margin-top: 80px;
}

.front:not(.toolbar) .wrapper-content .stack .box {
    padding-right: 0;
    padding-left: 0;
}

.vista-carrusel-fotos .slick-track {
    z-index: 2;
}

.vista-carrusel-fotos .item-list ul {
    padding: 0;
    margin: 0;
}

.vista-carrusel-fotos .slick-prev {
    left: 0;
    margin-left: 18px;
}

.vista-carrusel-fotos .slick-next {
    right: 0;
    margin-right: 18px;
}

.vista-carrusel-fotos .slick-prev,
.vista-carrusel-fotos .slick-next {
    width: 30px;
    height: 53px;
    z-index: 3;
}

.vista-carrusel-fotos .slick-prev:before,
.vista-carrusel-fotos .slick-next:before {
    display: inline-block;
    width: 21px;
    height: 36px;
    font-size: 0;
    background-image: url(../images/sprite-carousel-arrows.png);
    background-repeat: no-repeat;
    opacity: 1;
}

.vista-carrusel-fotos .slick-prev:before {
    background-position: 0 0;

}

.vista-carrusel-fotos .slick-next:before {
    background-position: -21px 0;
}

.vista-carrusel-fotos .img-wrapper img {
    width: 100%;
    height: auto;
}

/* @end */


/* @group Media Query */

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /* @group Carousel*/
    .front:not(.toolbar) .wrapper-content{
        margin-top: 150px;
    }
    /* @end */
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* @group Carousel*/
    .front:not(.toolbar) .wrapper-content{
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .vista-carrusel-fotos .slick-prev {
        margin-left: 38px;
    }

    .vista-carrusel-fotos .slick-next {
        margin-right: 38px;
    }
    /* @end */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    /* @group Carousel*/

    /* @end */
}
/* @end */