/* @group Lista de Promociones */

.node-type-promocion {

}

.node-type-promocion .item-list ul {
    padding: 0;
    margin: 0;
}

.node-type-promocion .pane > .help,
.node-type-promocion .pane > .content-area {
    float: none;
    width: 100%;
    overflow-y: auto;
}


.node-type-promocion .pane > .help img {
    width: 100%;
    height: auto;
}

.node-type-promocion .pane > .content-area {
    background: #171717;
}

.node-type-promocion .pane > .content-area h1 {
    width: 100%;
    float: left;
    margin-right: 4%;
    font-size: 60px;
    margin: 10px 0 0 36px;
    text-transform: uppercase;
    word-wrap: break-word;
    font-weight: bold;
    line-height: 85px;
}

.node-type-promocion .pane > .content-area h2 {
    color: #fab513;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 2%;
    font-weight: bold;
}

.node-type-promocion .pane > .content-area .contenido {
    width: 100%;
    float: left;
    padding: 16px 10px;
    font-size: 16px;
}

.node-type-promocion .pane > .content-area .contenido .media-thumbnail-frame {
    display: inline-block;
}

.node-type-promocion .pane > .content-area .contenido img {
    width: 150px;
}

.node-type-promocion .media_gallery-header {
    display: none;
}


.node-type-promocion .bar {
    display: block;
    height: 8px;
    width: 30px;
    background: #fab513;
    position: relative;
    top: 30px;
}

.node-type-promocion .return {
    color: #fff;
    font-family: 'oswaldbold';
    font-size: 16px;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    margin-top: 30%;
    margin-left: 10%;
}

.node-type-promocion .icon_regreso {
    background: url(../images/btn_regreso.png) no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

/* @end */


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .node-type-promocion .pane > .help,
    .node-type-promocion .pane > .content-area {
        float: left;
        width: 50%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .node-type-promocion .pane > .content-area h1 {
        width: 42%;
    }
    .node-type-promocion .pane > .content-area .contenido {
        width: 50%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* @end */