/* @group Groupname */


.contactenos.node-type-webform #page {
    background: #990100;
    
}

.contactenos #main {
    max-width: 1024px;
    margin: 0 auto;
}

.contactenos .webform-client-form .form-item label, 
.contactenos .webform-client-form h3 {
    font-size: 120%;
    color: #FFEA0D;
}

.contactenos .webform-client-form input.form-text {
    background-color: #810005;
    border: none;
    border-bottom: solid 1px #B47667;
    border-radius: 1px;
    height: 49px;
    color: #fff;
    text-transform: none;
    max-width: none;
}

.contactenos .form-textarea-wrapper textarea {
    min-height: 151px;
    background-color: #810005;
    border: none;
    border-bottom: solid 1px #B47667;
    border-radius: 1px;
    padding: 6px 12px;
}

.contactenos .webform-client-form .form-item, 
.contactenos .webform-client-form .form-actions {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 22px 0;
}

.contactenos .webform-client-form .form-submit {
    width: 70%;
    margin: 0 15%;
    color: #E91E18;
    background: none;
    background-color: #FCAD1D;
    border-radius: 2px;
    font-size: 200%;
    height: 49px;
    letter-spacing: 13px;
    padding: 0 0 0 16px;
    text-shadow: none;
    border: none;
    font-weight: bold;
}

.form-item input.error, 
.form-item textarea.error, 
.form-item select.error {
    border: 2px solid red !important;
}

.contactenos .grippie {
    display: none;
}

.contactenos.node-type-webform  .field-name-field-contenido-previo img {
    width: 20%;    
}

.contactenos .label_nomaneje {
    float: right;
    margin-top: 81px;
    margin-bottom: 10px;
}

.contactenos .webform-client-form .form-item label.error {
    font-size: 10px;
    display: block !important;
    visibility: visible !important;
    color: #FCAD1D;
}

.contactenos .label_nomaneje img {
    width: 154px;
}

/* Results */

.page-node-done #main {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
}

.page-node-done .links a {
    color: #E91E18;
    background: none;
    background-color: #FCAD1D;
    border-radius: 2px;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}


/* @end */


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .contactenos.node-type-webform  .field-name-field-contenido-previo img {
        width: 100%;    
    }
    .contactenos.node-type-webform .field-name-field-contenido-previo {
        float: left;
        width: 39%;
        padding: 34px 6px 0 60px;
    }
    .contactenos .webform-client-form .form-submit {
        width: 51%;
        margin: 17px 0 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
    .contactenos.node-type-webform .webform-client-form {
        display: block;
        float: left;
        width: 50%;
        padding: 78px 0 0;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* @end */