/* @group Groupname */

.mfp-content {
    text-align: center !important;
    /* position: initial; */
}

.mfp-image-holder .mfp-content {
    position: initial;
}

.mfp-ajax-holder .mfp-content,
.mfp-image-holder .mfp-content {
    position: initial;
}


.mfp-close-btn-in .mfp-close {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FCAF16;
    opacity: 1;
    border-radius: 15px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    padding: 0;
}

.mfp-figure:after {
    box-shadow: none;
    background-color: transparent;

}

.mfp-content .gallery-thumb-inner img {
    max-width: 100%;
    height: auto;
}

.mfp-content .lightbox-stack {
    pointer-events: none;
}

.mfp-arrow {
    opacity: 1;
}

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a, 
.mfp-arrow-right:after, .mfp-arrow-right .mfp-a,
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b, 
.mfp-arrow-right::before, .mfp-arrow-right .mfp-b {
    opacity: 1;
}

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    border-right: 27px solid #000000;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #000000;
}


/* @end */


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* @end */