/* @group Lista de Promociones */

.node-type-promocion {

}

.node-type-promocion .item-list ul {
    padding: 0;
    margin: 0;
}

.node-type-promocion .pane > .help,
.node-type-promocion .pane > .content-area {
    float: none;
    width: 100%;
    overflow-y: auto;
}


.node-type-promocion .pane > .help img {
    width: 100%;
    height: auto;
}

.node-type-promocion .pane > .content-area {
    background: #171717;
}

.node-type-promocion .c_tp {
    width: 100%;
    float: left;
    margin-right: 4%;
}

.node-type-promocion #post_t {
    font-size: 60px;
    margin: 41px 12px 0 56px;
    text-transform: uppercase;
    word-wrap: break-word;
    font-weight: bold;
    line-height: 67px;
    letter-spacing: -1.8px;
}

.node-type-promocion .pane > .content-area h2 {
    color: #fab513;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.node-type-promocion .pane > .content-area .contenido {
    width: 100%;
    float: left;
    padding: 43px 10px;
    font-size: 16px;
    line-height: 20px;
}

.node-type-promocion .pane > .content-area .contenido .media-thumbnail-frame {
    display: inline-block;
    max-width: 100%;
}

.node-type-promocion .pane > .content-area .contenido img {
    max-width: 100%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.node-type-promocion .media_gallery-header {
    display: none;
}

.node-type-promocion .bar {
    display: block;
    height: 6px;
    width: 28px;
    background: #fab513;
    position: relative;
    top: 32px;
}

.node-type-promocion .return {
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    display: block;
    margin-top: 117px;
    margin-left: 26px;
    cursor: pointer; 
    cursor: hand; 
}

.node-type-promocion .icon_regreso {
    background: url(../images/btn_regreso.png) no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
    margin-top: -8px;
}

.node-type-promocion #block-views-promoci-n-galeria-block,
.node-type-promocion #block-views-promoci-n-videos-block {
    margin: 0 16px 43px 26px;
}

.view-promoci-n-videos li.views-row {
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 6px;
}

.view-promoci-n-videos a {
    position: relative;
}

.view-promoci-n-videos img {
    width: 100%;
    
}

.view-promoci-n-videos .play_icon {
    background-image: url(../images/icon_play_video.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    
}

#block-views-promoci-n-contenido-block {
    margin-bottom: 11px;
}

.node-type-promocion .view-promoci-n-imagen .item-list ul li {
    margin: 0 !important;
    position: relative;
}
/* @end */


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .node-type-promocion .pane > .help,
    .node-type-promocion .pane > .content-area {
        float: left;
        width: 50%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .node-type-promocion .c_tp {
        width: 46%;
    }
    .node-type-promocion .pane > .content-area .contenido {
        width: 50%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* @end */