/* @group Lista de Promociones */

.node-type-lista-de-promociones .help,
.node-type-lista-de-promociones .content-area {
    float: none;
    width: 100%;
}

.node-type-lista-de-promociones .item-list ul,
.node-type-lista-de-promociones .item-list ul li {
    margin: 0 !important;
}

.node-type-lista-de-promociones .help img,
.node-type-lista-de-promociones .content-area img {
    width: 100%;
    height: auto;
}

.node-type-lista-de-promociones .content-area .views-row {
    float: left;
    width: 50%;
    background-image: url(../images/promo-placeholder_bg.jpg);
    background-size: cover;
    position: relative;
}

.node-type-lista-de-promociones .placeholder img {
    visibility: hidden !important;
    opacity: 0 !important;
}

.node-type-lista-de-promociones .placeholder a {
    cursor: default;
}

.node-type-lista-de-promociones .final-date {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    font-size: 128.6%;
    text-transform: uppercase;
    padding: 0 13px;
    line-height: 31px;
    background: #000;
    background: rgba(0, 0, 0, .8);
    color: #fdb515;
}

/* @end */


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .node-type-lista-de-promociones .help,
    .node-type-lista-de-promociones .content-area {
        float: left;
        width: 50%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* @end */