/* @group Redes Sociales */

.node-type-redes-sociales #page.bg-default {
    background-color: #191919;
}

.node-type-redes-sociales #content-area {
    min-height: 500px;
    text-align: center;
    margin-right: 50px;
}

.node-type-redes-sociales #content-area .region-content > .block-views {
    clear: none;
}

#block-views-redes-facebook-plugin-block,
#block-views-redes-twitter-plugin-block,
#block-views-redes-youtube-videos-block {
    display: inline-block;
    vertical-align: top;
    margin-top: 13px;
}

#block-views-redes-facebook-plugin-block {
    width: 280px;
}

#block-views-redes-twitter-plugin-block {
    min-width: 280px;
    max-width: 300px;
}

#block-views-redes-youtube-videos-block {
    width: 280px;
    text-align: right;
    max-height: 580px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #000;
}

.age-gate-visible .yt-video {
    display: none;
}

.yt-video iframe.video {
    width: 100%    !important;
    height: 345px   !important;
}

.fb_iframe_widget,
.twitter-share-button {
    display: inline-block !important;
    vertical-align: top;
    margin: 0px 5px 5px 0;
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
    display: none !important;
}

.fb-like{
    height: 20px;
    overflow: hidden;
}


/* @end */

/* @group Media Query */


/* Extra Small Devices, Phones */


@media only screen and (min-width : 480px) {

}

/* Special Breakpoint */
@media only screen and (min-width : 690px) {
    #block-views-redes-facebook-plugin-block .middle{
        width: 280px;
    }

    #block-views-redes-twitter-plugin-block .content {
        min-width: 280px;
        max-width: 280px;
    }

    #block-views-redes-youtube-videos-block {
        width: 280px;
        left: 0px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* @end */