/*ARTE-SUPREMA*/

/* @group Media Query */

.arte-suprema .field .media-thumbnail-frame img{
    float: right;
    width: 33%;
    height: auto;
    margin-bottom: 10px;
}

.arte-suprema .field .field-item .even img{
    margin-bottom: 20px;
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .arte-suprema .field .media-thumbnail-frame img{
        width: 22%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* @end */


