/* @group Groupname */
.page-search {
}

.page-search #main {
    background-color: white;
    padding: 96px 32px 64px;
}

.page-search h1 {
    display: block !important;
}

.page-search .form-submit {
    background: none;
    text-shadow: none;
    color: white;
    padding: 1px;

    border: solid 1px #7ec744;
    background: rgb(2,134,44);
    background: -moz-linear-gradient(top, rgba(2,134,44,1) 3%, rgba(0,170,57,1) 29%, rgba(0,144,49,1) 53%, rgba(0,105,38,1) 97%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(2,134,44,1)), color-stop(29%,rgba(0,170,57,1)), color-stop(53%,rgba(0,144,49,1)), color-stop(97%,rgba(0,105,38,1)));
    background: -webkit-linear-gradient(top, rgba(2,134,44,1) 3%,rgba(0,170,57,1) 29%,rgba(0,144,49,1) 53%,rgba(0,105,38,1) 97%);
    background: -o-linear-gradient(top, rgba(2,134,44,1) 3%,rgba(0,170,57,1) 29%,rgba(0,144,49,1) 53%,rgba(0,105,38,1) 97%);
    background: -ms-linear-gradient(top, rgba(2,134,44,1) 3%,rgba(0,170,57,1) 29%,rgba(0,144,49,1) 53%,rgba(0,105,38,1) 97%);
    background: linear-gradient(to bottom, rgba(2,134,44,1) 3%,rgba(0,170,57,1) 29%,rgba(0,144,49,1) 53%,rgba(0,105,38,1) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02862c', endColorstr='#006926',GradientType=0 );
}

/* @end */


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* @end */