/* @group Footer */



.stack-copyright{
    background-color: #000;
    padding-top: 26px;
    border-top: 2px solid #fff;
}

.stack-width .deco-width{
    text-align: center;
}

.footerPage{
    text-align: center;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.footerPage a{
    color: #fff;
    margin: 3px 11px 0;
}

.footerPage a:hover{
    color: #3f8202;
    text-decoration: none;
}

.footerMiddle {
    display: none;
}

.footer_right {
    float: right;
    margin-right: 4.5%;
}

.footerDown {
    text-align: left;
}

.footerDown .media-thumbnail-frame {
    float: left;
    margin-left: 4.5%;
}

.footerDown .media-thumbnail-frame img {
    height: 35px;
}

.footerDown .media-thumbnail-frame+a {
    font-size: 21px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 14px;
}

.footerDown p{
    display: none;
}


/* @end */

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    
    .footerMiddle {
        display: block;
    }

    .footerDown .media-thumbnail-frame img {
        height: 100%;
    }



}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {


}
/* @end */