/* @group Footer */


#footer {
    background-color: #000;
    padding-top: 26px;
    border-top: 2px solid #fff;
    text-align: center;
}

#footer-inner {
    padding: 0;
    background: none;
    margin: 0;
}

#footer h2 {
    display: none;
}

#footer .content {
    text-align: center;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;

}

#footer a{
    color: #fff;
    margin: 3px 11px 0;
    padding: 10px;
}

#footer a:hover{
    color: #3f8202;
    text-decoration: none;
}


#footer ul.menu {
    text-align: center;
}

#footer ul.menu::after,
#footer ul.menu::before {
    content: ".";
    display: inline-block !important;
    color: white;
    height: inherit;
    visibility: visible;
    clear: none;
    vertical-align: middle;
}

#footer ul.menu li {
    float: none;
    display: inline-block;
    padding: 10px;
}

#footer ul.menu li::before {
    content: "/";
}

#footer ul.menu li:first-child::before {
    content: "";
}


.footer_right {
    float: right;
    margin-right: 4.5%;
}

.footerDown {
    text-align: left;
}

.footerDown .media-thumbnail-frame {
    float: left;
    margin-left: 4.5%;
}

.footerDown .media-thumbnail-frame img {
    height: 35px;
}

.footerDown .media-thumbnail-frame+a {
    font-size: 21px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 14px;
}

#footer .block-menu,
.footerDown p{
    display: none;
}

#copyright .block-menu {
    display: none;
}

.stack-copyright {
    padding-bottom: 0;
}


/* @end */

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


    #footer .block-menu {
        display: block;
    }

    .footerDown .media-thumbnail-frame img {
        height: 100%;
    }



}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {


}
/* @end */

