/* @group Groupname */


@font-face {
    font-family: 'HW-Regular';
    src: url("../fonts/HoeflerText-Regular.eot?") format("eot"),
        url("../fonts/HoeflerText-Regular.woff") format("woff"),
        url("../fonts/HoeflerText-Regular.ttf") format("truetype"),
        url("../fonts/HoeflerText-Regular.svg#HoeflerText-Regular") format("svg"); 
}

@font-face {
    font-family: 'Hanken';
    src: url('../fonts/Hanken-Book.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/Hanken-Book.woff') format('woff'), 
        url('../fonts/Hanken-Book.ttf')  format('truetype'), 
        url('../fonts/Hanken-Book.svg#Hanken-Book') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Hanken';
    src: url('../fonts/Hanken-Light.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/Hanken-Light.woff') format('woff'), 
        url('../fonts/Hanken-Light.ttf')  format('truetype'), 
        url('../fonts/Hanken-Light.svg#Hanken-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Crimson';
    src: url('../fonts/crimson-roman-webfont.eot');
    src: url('../fonts/crimson-roman-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/crimson-roman-webfont.woff') format('woff'),
        url('../fonts/crimson-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Crimson';
    src: url('../fonts/crimson-italic-webfont.eot');
    src: url('../fonts/crimson-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/crimson-italic-webfont.woff') format('woff'),
        url('../fonts/crimson-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Crimson';
    src: url('crimson-semibold-webfont.eot');
    src: url('crimson-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('crimson-semibold-webfont.woff') format('woff'),
        url('crimson-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Crimson';
    src: url('../fonts/crimson-semibolditalic-webfont.eot');
    src: url('../fonts/crimson-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/crimson-semibolditalic-webfont.woff') format('woff'),
        url('../fonts/crimson-semibolditalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Crimson';
    src: url('../fonts/crimson-bold-webfont.eot');
    src: url('../fonts/crimson-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/crimson-bold-webfont.woff') format('woff'),
        url('../fonts/crimson-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Crimson';
    src: url('../fonts/crimson-bolditalic-webfont.eot');
    src: url('../fonts/crimson-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/crimson-bolditalic-webfont.woff') format('woff'),
        url('../fonts/crimson-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


body {
    font-family: 'Hanken', Helvetica, Arial, sans-serif;
    background-color: black;
}

#page {
    background-color: #174a18;
    min-height: initial !important;
    transform: translate(0) !important; 
}

.inicio #page {
    background-color: #000;
}

.node .field + .field,
.wrapper-content .block + .block,
.block + .block {
    margin-top: 0;
}

p {
    margin: 0;

}

h1, h2, h3 {
    font-family: 'Crimson', Helvetica, Arial, sans-serif;
}

.fb_iframe_widget_lift {
    z-index: 11;
}

#navigation {
    max-width: 824px;
    max-width: 1024px;
    margin: 0 auto;

}

#content {
    max-width: 775px;
    margin: 0 auto;
}

#content.wrapper-content .stack {
    padding-top: 0;
}

#content.clearfix:before,
#content .clearfix:before {
    content: "";
    display: none;
}

.tabs {
    margin: 0;
}

a {
    color: #fff;
    transition: color 0.3s;
}
a:hover {
    color: #b4a88a;
}

.col-c {
    overflow: visible !important;
}

div#messages {
    z-index: 11;
}

.ulreset {
    padding: 0;
}

.ulhorizontal {
    display: inline-block;
}
.ulhorizontal > li {
    display: inline-block;
}

#fb-root {
    display: none;
}

#breadcrumb {
    display: none;
}

img.image-width-100,
.image-width-100 img {
    width: 100%;
    height: auto;
}


/* Header image */
#block-block-26 img,
#block-block-31 img,
#block-block-36 img,
.field-name-field-imagen-header img,
.field-content img,
.view-header img {
    max-width: 100%;
    height: auto;
}


/* Content after header image */
.view-header + .view-content,
#block-block-26 + #block-views-vista-de-articulo-block,
#block-block-31 + #block-system-main,
#block-block-36 + #block-system-main,
.field-name-field-imagen-header + .field-name-body {
    background: white;
    padding: 32px;
    /*    -webkit-box-shadow: 2px 2px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 15px 0px rgba(50, 50, 50, 0.75); */
    font-size: 18px;
    margin: 0;
}

#block-views-vista-de-articulo-block .view-content {
    padding: 0;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.field-name-field-disenno {
    display: none !important;
}


.capcha-container {
    -webkit-transform:scale(0.77);
    transform:scale(0.77);
    transform-origin:0 0
}


/* @end */



/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .capcha-container {
        -webkit-transform:scale(1);
        transform:scale(1);
        transform-origin:0 0
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .inicio #page {
        background-color: #174a18;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* @end */