/* @group Groupname */


@font-face {
    font-family: 'HW-Regular';
    src: url("../fonts/HoeflerText-Regular.eot?") format("eot"),
        url("../fonts/HoeflerText-Regular.woff") format("woff"),
        url("../fonts/HoeflerText-Regular.ttf") format("truetype"),
        url("../fonts/HoeflerText-Regular.svg#HoeflerText-Regular") format("svg"); }
body {
    font-family: Helvetica, Arial, sans-serif;
}

#page {
    background-image: url(../images/site-background.jpg);
}

.node .field + .field,
.wrapper-content .block + .block,
.block + .block {
    margin-top: 0;
}

p {
    margin: 0;
}

.fb_iframe_widget_lift {
    z-index: 11;
}

#navigation {
    max-width: 824px;
    max-width: 1024px;
    margin: 0 auto;

}

.sb-slidebar {
    z-index: 10;
}

#content {
    max-width: 775px;
    margin: 0 auto;
}

#content.wrapper-content .stack {
    padding-top: 0;
}

#content.clearfix:before,
#content .clearfix:before {
    content: "";
    display: none;
}

.tabs {
  margin: 0;
}

a:hover {
    color: #b4a88a;
}

.col-c {
    overflow: visible !important;
}

div#messages {
    z-index: 11;
}

.ulreset {
    padding: 0;
}

.ulhorizontal {
    display: inline-block;
}
.ulhorizontal > li {
    display: inline-block;
}

#fb-root {
    display: none;
}

#breadcrumb {
    display: none;
}

.view-header + .view-content,
#block-block-26 + #block-views-vista-de-articulo-block,
.field-name-field-imagen-header + .field-name-body {
    background: white;
    padding: 32px;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 15px 0px rgba(50, 50, 50, 0.75);
    font-size: 18px;
    margin: 0;
}


/* @end */



/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* @end */