/* @group Header */

.stack-header-inner, .stack-preheader {
    background-color: transparent;
    position: relative;
}

.site-name-wrapper {
    position: relative;
}

#site-name {
    text-align: center;
    display: block;
    position: absolute;
    width: 30%;
    z-index: 10;
    top: -50px;
    margin: 0 35%;-50px
    pointer-events: none;
    transition: top 0.5s, opacity 0.5s;
    pointer-events: none;
}

#site-name.hideMe {
    top: -48px;
    opacity: 0;
}


.stack-header-inner .site-name a {
    height: 90px;
    width: 95px;
    background-image: url('../images/suprema_logo.png');
    display: block;
    margin: 0 auto;
    z-index: 10;
    background-size: contain;
    background-position: center top;
    pointer-events: all;

}

#header-inner .box {
    padding-left: 0;
    padding-right: 0;
}


#preheader {
    background-color: black;
    display: none;
}

.btn-menu-mobile {
    width: 18%;
    display: inline-block;
}

#block-search-form {
    box-shadow: #000 0px 3px 10px;
    background-image: url(../images/background-headerbar.png);
    background-color: #1a1b1b;
    background-position: bottom center;
    background-repeat: repeat-x;
    font-size: 15px;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
}

.social-header-left,
.social-header-right-mobile,
.social-header-right {
    border: none !important;
    color: #fff;
}

.fb_iframe_widget{
    margin-left: 8px;
}
.social-header-left,
.social-header-right {
    display: none;
}

.social-header-left {
    float: left;
    margin-top: 12px;
    margin-left: 0;
    letter-spacing: -0.0px;
}

.social-header-right-mobile,
.social-header-right {
    float: right;
    letter-spacing: -0.4px;
    margin-top: 10px;
    margin-right: 8px;
    margin-left: 12px;
    padding-top: 2px;
}



.social-header-right .media-thumbnail-frame img{
    position: relative;
    top: -2px;
}

.social-header-right-mobile {
    float: none;
    margin: 0;
    padding: 0;
}

.social-header-right br {
    display: none;
}

.social-header-right ul {
    padding-left: 0px;
}

.social-header-right li {
    margin-left: 5px;
}

#block-system-main-menu ul.menu {
    background: none;
    border: none;
    margin-bottom: 0;
    text-align: center;
}

#block-system-main-menu .bottom {
    max-width: 824px;
    margin: 0 auto;
    border-bottom: solid 2px #c4b695;
    box-shadow: 0 5px 4px -2px black;
}

#block-system-main-menu ul.menu a {
    color: #fff;
    font-size: 18px;
}

#block-system-main-menu ul.menu a:hover {
    color: #b4a88a;
}

#search-block-form {
    float: right;
    background-color: #665c3e;
    height: 26px;
    margin-top: 9px;
    border-radius: 15px;
    padding-left: 5px;

}

#search-block-form .form-item,
#search-block-form .form-actions {
    margin: 0;
}

#search-block-form .form-text {
    background-color: #1e1b12;
    border: none;
    height: 20px;
    vertical-align: top;
    font-size: 14px;
    color: #fff;
    border-radius: 10px;
    width: 0;
    padding: 0;
    transition: width 0.3s;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

.searchexpanded #search-block-form .form-text {
    width: 159px;
    padding: 6px 12px;
}

.searchexpanded #site-name {
    display: none;
}

#search-block-form .form-submit {
    background: none;
    border: none;
    color: #fff;
    text-shadow: none;
    height: 25px;
    padding: 0 15px 0 0px;
    width: 25px;
    margin-left: 2px;
}

#navigation .menu li {
    padding: 25px 12px 7px;
    letter-spacing: -0.6px;
    float: none;
    display: inline-block;
}

#navigation .menu li:hover {
    /*    background-color:  rgba(0, 0, 0, 0.1); */
}

#navigation .menu li a {
    text-decoration: none !important;
    transition: color 0.5s;
}

.btn-menu-mobile a {
    border: none;
    height: 48px;
    padding-bottom: 0;
}
.btn-menu-mobile a .icon-bar {
    background-color: white;
    height: 6px;
}


.wrapperMjs {
    display: none;
}

.accept-cookie .wrapperMjs {
    display: block;
}

.mobile-main-menu ul {
    margin: 0;
    padding: 0;
}

.mobile-main-menu .menu > li {
    background-color: #02421f;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    border-bottom: solid 1px #a29e33;
}

.mobile-main-menu .menu > li:nth-child(2n) {
    background-color: #006a30;
}



/* @end */


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

    .sb-slidebar {
        width: 42%;
    }

     .stack-header-inner .site-name a {
        height: 110px;
        margin-top:13px;
    }

    .social-header-right-mobile {
        margin-left: 27px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

    .social-header-right-mobile {
        margin-left: 25px;
    }

    .stack-header-inner .site-name a {
        height: 110px;
        margin-top:13px;
    }
    .searchexpanded #site-name {
        display: block;
    }

    .sb-slidebar {
        width: 35%;
    }

    .searchexpanded #search-block-form .form-text{
        width: 119px;

    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .social-header-right-mobile {
        margin-left: 42px;
    }
    .stack-header-inner .site-name a {
        height: 130px;
        margin-top: 13px;
    }

    .mobile-main-menu .menu > li {
        font-size: 17px;
    }

    .sb-slidebar {
        width: 26%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


    #search-block-form,
    .social-header-left,
    .social-header-right {
        display: block;
    }
    .social-header-right-mobile {
        display: none;
    }

    #search-block-form .form-text {
        width: 159px;
        padding: 6px 12px;
    }

    .stack-header-inner .site-name a {
        height: 160px;
        width: 175px;
    }
    #preheader {
        display: block;
    }

    #site-name {
        top: -18px;

    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* @end */