/* @group Header */

#site-name {
    text-align: center;
    display: block;
    position: relative;
}

.stack-header-inner .site-name a {
    background-image: url('../images/suprema_logo.png');
    width: 170px;
    height: 160px;
    display: block;
    margin: 0 auto;
}

/* @end */


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* @end */