/* @group Groupname */

.inicio {
    background-color: black;
}

.inicio #page {
    min-height: initial !important;
    height: initial;
}

.inicio .slider-cta a{
    text-decoration: none;
}

.inicio #block-system-main-menu .bottom {
    max-width: 1024px;
}

.inicio .stack .box {
    padding: 0;
}

.inicio #content {
    max-width: 1024px;
}

.inicio .slick-slider {
    max-height: 278px;
    overflow: hidden;
}

.inicio .slick-slider img {
    width: 100%;

}

.inicio .field-name-field-imagen-header {
    display: none;
}

.slider-cta {
    top: 38%;
    width: 330px;
    font-size: 13px;
    position: absolute;
    background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 90%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(90%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 90%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 90%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 90%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 90%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
    color: white;
    padding: 9px 90px 9px 70px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.2px;

}


.slider-cta a {
    border: solid 1px #84d047;
    clear: both;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    padding: 6px 9px;
    border-radius: 5px;
    background: rgb(4,134,44);
    background: -moz-linear-gradient(top, rgba(4,134,44,1) 4%, rgba(0,161,53,1) 25%, rgba(0,127,45,1) 60%, rgba(0,101,38,1) 95%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,rgba(4,134,44,1)), color-stop(25%,rgba(0,161,53,1)), color-stop(60%,rgba(0,127,45,1)), color-stop(95%,rgba(0,101,38,1)));
    background: -webkit-linear-gradient(top, rgba(4,134,44,1) 4%,rgba(0,161,53,1) 25%,rgba(0,127,45,1) 60%,rgba(0,101,38,1) 95%);
    background: -o-linear-gradient(top, rgba(4,134,44,1) 4%,rgba(0,161,53,1) 25%,rgba(0,127,45,1) 60%,rgba(0,101,38,1) 95%);
    background: -ms-linear-gradient(top, rgba(4,134,44,1) 4%,rgba(0,161,53,1) 25%,rgba(0,127,45,1) 60%,rgba(0,101,38,1) 95%);
    background: linear-gradient(to bottom, rgba(4,134,44,1) 4%,rgba(0,161,53,1) 25%,rgba(0,127,45,1) 60%,rgba(0,101,38,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04862c', endColorstr='#006526',GradientType=0 );
    margin-top: 6px;
    word-wrap: normal;
    font-size: 14px;
    display: inline-block;
}

.home_blackarea {
    font-size: 18px;
    display: block;
    clear: both;
    text-align: center;
    padding: 18px 20%;
    color: #fff;
}

.home_blackarea h1 {
    font-size: 30px;
    color: #54980c;
    margin: 0;
    font-weight: normal
}

/* @end */


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .home_blackarea h1 {
        font-size: 43px;
    }

    .home_blackarea {
        font-size: 25px;
    }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .slider-cta {
        top: 48%;
        width: 400px;
        font-size: 15px;
    }
    .inicio .slick-slider {
        max-height: 395px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .slider-cta {
        top: 70%;
        width: 465px;
        font-size: 16px;
    }
    .inicio .slick-slider {
        max-height: 445px;
    }
    .home_blackarea {
        background-color: black;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* @end */