/* @group Blog */

.momentos-suprema #block-block-26 + #block-views-vista-de-articulo-block {
    padding: 42px 42px 22px 42px;
}

.view-momentos-suprema > .view-content {
    padding-top: 21px;
    padding-left: 30px;
}
.view-momentos-suprema > .view-content .views-row {
    width: 100%;
    text-align: center;
    margin-bottom: 31px;
    border-bottom: solid 3px #FFD443;
    padding-bottom: 31px;
}

.view-vista-de-articulo {
    text-align: center;
}

.view-vista-de-articulo .share {
    display: none;
    padding-top: 12px;
}

.view-vista-de-articulo a,
.view-momentos-suprema a {
    color: #333;
}

.view-vista-de-articulo .views-field-field-imagen{
    margin: 0 -32px;
}


.view-vista-de-articulo .views-field-title a,
.view-momentos-suprema .views-field-title a {
    color: #007537;
    font-size: 30px;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.view-vista-de-articulo .views-field-nothing,
.view-momentos-suprema .views-field-nothing {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 14px;
    color: #747473;
}

.view-vista-de-articulo .views-field-nothing {
    margin-bottom: 22px;
    font-size: 20px;
    margin-top: 16px;
}

.view-vista-de-articulo .views-field-body
.view-momentos-suprema .views-field-body {
    font-size: 15px;
    margin-top: 17px;
    margin-left: 5px;
    line-height: 1.3;
    letter-spacing: 0.1px;
    margin-right: 22px;
    margin-bottom: 31px;
    color: #3f3f3f;
}

.view-momentos-suprema .views-field-path {
    text-align: right;
}
.view-momentos-suprema .views-field-path a {
    color: #007537;
    font-size: 15px;
    font-weight: bold;
    margin-right: 12px;
}

.share iframe {
    vertical-align: bottom;
}

.view-vista-de-articulo .share {
    text-align: right;
    margin-top: -12px;
    margin-bottom: 30px;
    position: relative;
    right: -31px;
}

.blog-sidebar {
    display: none;
    float: right;
    width: 30%;
    text-align: center;
}

.blog-sidebar .views-row {
    margin-top: 23px;
    margin-bottom: 36px;
}


.pager {
    clear: both;
    text-align: left;
    background-color: white;
    margin: 0 !important;
    padding: 32px;
}

.view-vista-de-articulo-contenido .pager {
    text-align: center;
    padding: 5px !important;
}

.momentos-suprema .pager li {
    display: inline-block;
}

.momentos-suprema .pager li > a, .pager li > span{
    background-color:#fff;
    border:2px solid #18762d;
    display: inline-block;
    padding: 5px 14px;
    border-radius: 0;
    color:#18762d;
}

.momentos-suprema .pager li a:hover{
    background-color: #18762d;
    color: #fff;
}

.page-momentos-suprema .pager li > a, .pager li > span {
    border-radius: 0;
    border: solid 2px #18762d;
    color: #18762d;
    margin-bottom: 20px;
}

.page-momentos-suprema .field-content p{
    margin-bottom: 10px;
}

.page-momentos-suprema .pager .link-to-blog {
    border: solid 2px #d39a00;
    color: #d39a00;
}

.view-vista-de-articulo-contenido {

}

.view-vista-de-articulo-contenido .blog-sidebar .views-row {
    margin-top: 4px;
}
.view-vista-de-articulo-contenido .view-header + .view-content {
    padding: 0px 32px 20px ;
}

.view-vista-de-articulo-contenido > .view-content .views-row {
    width: 100%;
    border-right: none;
    padding-right: 0;
}

.view-vista-de-articulo-contenido .share {
    margin: 38px 0;
}

.suscribe-big-button img{
    vertical-align: middle;
    margin-right: 15px;
    margin-left: -12px;
    margin-top: -6px;
}

.suscribe-big-button {
    display: block;
    text-align: left;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
    margin: 15px 7px;
    padding: 12px 0 19px;
    letter-spacing: -1.5px;
    text-decoration: none !important;
    border: solid 1px #7ec744;
    background: rgb(2,134,44);
    background: -moz-linear-gradient(top, rgba(2,134,44,1) 3%, rgba(0,170,57,1) 29%, rgba(0,144,49,1) 53%, rgba(0,105,38,1) 97%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(2,134,44,1)), color-stop(29%,rgba(0,170,57,1)), color-stop(53%,rgba(0,144,49,1)), color-stop(97%,rgba(0,105,38,1)));
    background: -webkit-linear-gradient(top, rgba(2,134,44,1) 3%,rgba(0,170,57,1) 29%,rgba(0,144,49,1) 53%,rgba(0,105,38,1) 97%);
    background: -o-linear-gradient(top, rgba(2,134,44,1) 3%,rgba(0,170,57,1) 29%,rgba(0,144,49,1) 53%,rgba(0,105,38,1) 97%);
    background: -ms-linear-gradient(top, rgba(2,134,44,1) 3%,rgba(0,170,57,1) 29%,rgba(0,144,49,1) 53%,rgba(0,105,38,1) 97%);
    background: linear-gradient(to bottom, rgba(2,134,44,1) 3%,rgba(0,170,57,1) 29%,rgba(0,144,49,1) 53%,rgba(0,105,38,1) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02862c', endColorstr='#006926',GradientType=0 );
}

#block-views-navigator-block,
.view-id-navigator {
    display: none;
}

.title-Suscríbete-al-Blog .capcha-container{
    position: relative;
    left: -5px;
}

.page-momentos-suprema .view-content img{
    margin: 20px 0;
}

.momentos-suprema .view-content{
    padding-bottom: 20px;
}

.view-momentos-suprema > .view-content{
    padding: 12px !important;
}

.page-momentos-suprema .item-list .pager li{
    padding: 0 !important;
}

.momentos-suprema .view-vista-de-articulo-contenido .pager{
    padding: 0 !important;
}

.momentos-suprema .pager li{
    margin:  0 10px;
}

.momentos-suprema .field-content p{
    padding: 10px;

}

.comments_login {
    width: 100%;
}
.comments_login button {
    margin: 0 auto;
}

/* @end */

/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 280px) {



    .title-Suscríbete-al-Blog .capcha-container{
        left: 5%;
    }


    .suscribe-big-button{
        font-size: 10px;
    }



    .page-momentos-suprema .item-list ul li{
        margin-bottom: 20px;
    }


    .momentos-suprema .pager li > a, .pager li > span{
        width: 71px;
        font-size: 12px
    }

    .view-vista-de-articulo-contenido .view-header + .view-content {
        padding: 0px 12px 20px;
    }

    .title-Suscríbete-al-Blog .fondo-negro .pane > #content-area{

        padding:  0 8px 0 15px !important;
    }

    .momentos-suprema .pager li{
        margin:  2px;
    }

    .momentos-suprema .view-vista-de-articulo-contenido .pager{
        padding: 0 !important;
    }
    .title-Suscríbete-al-Blog .capcha-container{
        left: 0%;
    }

    .capcha-container .rc-anchor-logo{
        position: relative;
        left: -40px;
    }
    .capcha-container .rc-anchor-privacy{
        left: -20px;
    }

}

@media only screen and (min-width : 320px) {


    .momentos-suprema .pager li{
        margin:  0px;
    }

    .momentos-suprema .pager li > a, .pager li > span{
        width: 75px;
    }

    .title-Suscríbete-al-Blog .capcha-container{
        left: 16%;
    }



}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

    .title-Suscríbete-al-Blog .capcha-container{
        left: 25%;
    }

    .page-momentos-suprema .item-list ul li{
        margin-bottom: 20px;
    }


    .page-momentos-suprema .fb_iframe_widget{
        margin:0;
        position: relative;
        left: 0px;
    }

    .page-momentos-suprema .twitter-share-button{
        position: relative;
        top: 0px;
        left:0px;
    }

    .momentos-suprema .pager li > a, .pager li > span{
        width: 121px;
        font-size: 15px
    }

    .momentos-suprema .view-vista-de-articulo-contenido .pager{
        padding: 2px;
    }

    .momentos-suprema .pager li{
        margin: 7px;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .page-momentos-suprema .pager li > a, .pager li > span{
        width: auto;
        height: auto;
    }
    .page-momentos-suprema .pager li > a, .pager li > span{
        width: auto !important;
    }

    .suscribe-big-button {
        font-size: 29px;
    }

    .title-Suscríbete-al-Blog .capcha-container{
        left: 30%;
    }

    .momentos-suprema .pager li > a, .pager li > span{

        width: 223px;
        font-size: 19px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .title-Suscríbete-al-Blog .capcha-container{
        position: relative;
        left: 0px !important;
    }

    .view-momentos-suprema > .view-content .views-row {
        width: 70%;
        text-align: left;
    }
    .blog-sidebar {
        display: block;
    }

    .view-momentos-suprema > .view-content .views-row {
        margin-bottom: 20px;
        border: none;
        padding-bottom: 0;

    }

    .momentos-suprema .pager li > a, .pager li > span{
        width: 135px;
    }

    .view-vista-de-articulo-contenido > .view-content .views-row {
        width: 69%;
        border-right: solid 1px #dacba1;
        padding-right: 15px;
    }

    .view-vista-de-articulo {
        text-align: left;
    }

    .view-vista-de-articulo .share {
        display: block;
    }

    .view-vista-de-articulo .views-field-field-imagen{
        margin: 0;
    }

    .view-vista-de-articulo .views-field-nothing {
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 14px;
    }

    .title-Suscríbete-al-Blog .capcha-container{
        position: relative;
        left: 175px;
    }

    .momentos-suprema .pager li > a, .pager li > span{
        width: 143px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* @end */