/* @group Groupname */


.title-Suprema .field-name-body {
    color: #3f3f3f;
    font-stretch: condensed;
    min-height: 460px;
    font-size: 20px;
    line-height: 0.9;
    padding: 42px 32px;
}
.title-Suprema .field-name-body .media-thumbnail-frame img {
    max-width: 100%;
    height: auto;
    margin-top: 76px;
}
.title-Suprema .field-name-body .media-thumbnail-frame {
    float: right;
    margin-top: -156px;
    max-width: 40%;
}

.page-momentos-suprema .item-list .pager li{
    padding: 0 !important;
}

.title-Suprema p{
    margin: 15px;
}

/* @end */


/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .title-Suprema .field-name-body .media-thumbnail-frame {
        margin-top: -140px;
    }
    .title-Suprema .field-name-body {
        line-height: 1.1;
        font-size: 18px;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* @end */