/* @group Página estática */

#block-block-41 {
    display: none;
}

.fondo-negro #block-block-41 {
    display: block;
}

#block-block-41 img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.fondo-negro .pane{
    background-color: #000 !important;
}
.grippie {
    display: none;
}

.node-type-webform .webform-component {
    color: white;
}

.node-type-webform.fondo-negro #content {
    max-width: 852px;
}

.node-type-webform.fondo-negro .pane{
    background-color: rgba(0,0,0,.5) !important;
}

.fondo-negro .pane > #content-area {
    padding: 0 32px;
}


.fondo-negro .field-item{
    color: #fff;
}

.fondo-negro .field-item p{
    margin-bottom: 10px;
    float: left;
}


.fondo-negro #content h1{
    display: block !important;
    background-color: #009633;
    text-align: center;
    color: #fff;background: #00aa38;
    background: -moz-linear-gradient(top, #00aa38 38%, #00762b 67%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,#00aa38), color-stop(67%,#00762b));
    background: -webkit-linear-gradient(top, #00aa38 38%,#00762b 67%);
    background: -o-linear-gradient(top, #00aa38 38%,#00762b 67%);
    background: -ms-linear-gradient(top, #00aa38 38%,#00762b 67%);
    background: linear-gradient(to bottom, #00aa38 38%,#00762b 67%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aa38', endColorstr='#00762b',GradientType=0 );
    border-bottom: 1px solid #72b33d;
    text-shadow: 2px 2px #006223;
    font-weight: bold;
    font-size: 23px;
    padding: 8px 0;
    margin: 0 -14px 10px;
}



.arte-suprema .field .media-thumbnail-frame img{
    float: right;
    width: 33%;
    height: auto;
    margin-bottom: 10px;
}

.arte-suprema .field .field-item .even img{
    margin-bottom: 20px;
}

.node-type-webform.fondo-negro .webform-client-form label {
    max-width: 100%;
    width: 100%;
}

.node-type-webform.fondo-negro .webform-client-form input,
.node-type-webform.fondo-negro .webform-client-form textarea {
    max-width: 100%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(211,211,211,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(211,211,211,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(211,211,211,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(211,211,211,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(211,211,211,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(211,211,211,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=0 );
    color: #000;
}

.node-type-webform.fondo-negro .webform-client-form .form-actions {
    text-align: center;
}

.node-type-webform.fondo-negro .webform-client-form .form-submit {
    width: 105px;
    font-size: 19px;
    background: none;
    text-shadow: none;
    color: white;
    padding: 1px;
    margin-left: 148px;

    border: solid 1px #7ec744;
    background: rgb(2,134,44);
    background: -moz-linear-gradient(top, rgba(2,134,44,1) 3%, rgba(0,170,57,1) 29%, rgba(0,144,49,1) 53%, rgba(0,105,38,1) 97%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(2,134,44,1)), color-stop(29%,rgba(0,170,57,1)), color-stop(53%,rgba(0,144,49,1)), color-stop(97%,rgba(0,105,38,1)));
    background: -webkit-linear-gradient(top, rgba(2,134,44,1) 3%,rgba(0,170,57,1) 29%,rgba(0,144,49,1) 53%,rgba(0,105,38,1) 97%);
    background: -o-linear-gradient(top, rgba(2,134,44,1) 3%,rgba(0,170,57,1) 29%,rgba(0,144,49,1) 53%,rgba(0,105,38,1) 97%);
    background: -ms-linear-gradient(top, rgba(2,134,44,1) 3%,rgba(0,170,57,1) 29%,rgba(0,144,49,1) 53%,rgba(0,105,38,1) 97%);
    background: linear-gradient(to bottom, rgba(2,134,44,1) 3%,rgba(0,170,57,1) 29%,rgba(0,144,49,1) 53%,rgba(0,105,38,1) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02862c', endColorstr='#006926',GradientType=0 );

}

.node-type-webform.fondo-negro .error {
    color: #f00;
}

.mapa-del-sitio .field field-name-body ul li {}


/* @end */

/* @group Media Query */

@media only screen and (max-width: 480px)  {

    .fondo-negro .field-item p{
        width: 100%;
    }

    .fondo-negro .field-items .even{
        width: 100%;
    }
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {


    .fondo-negro #block-block-41 {
        display: none;
    }

    .fondo-negro #main {
        background-color: rgba(0,0,0,.5);
        padding: 90px 36px 10px;
        margin: 0 -20px;
    }
    .node-type-webform.fondo-negro #main {
        background-color: transparent;
        padding: 90px 36px 10px;
        margin: 0 -20px;
    }

    .fondo-negro h1{
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin: 0 0 10px;
        border: 1px solid #84d047;
    }

    .node-type-webform.fondo-negro .webform-client-form .form-actions form-wrapper {
        text-align: right;
    }


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .arte-suprema .field .media-thumbnail-frame img{
        width: 22%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/* @end */



