/* @group Groupname */

.node-type-media-gallery h1{
    font-weight: bolder;
    color: #bb9e51;
    margin-bottom: 10px;
}

.node-type-media-gallery p{
    text-align: center;
}

.node-type-media-gallery hr{
    color:#bb9e51;
    height: 3px;
    background-color:#ddcea8;
}

.node-type-media-gallery .media-gallery-item{
    margin-left: 10px;
}

.node-type-media-gallery .lightbox-stack .media-gallery-item{
    margin-left: 0;
}

.node-type-media-gallery .mg-col-3 {
    width: 80%;
    margin: 0 10% !important;
}

.node-type-media-gallery .field-name-media-gallery-media{
    margin-left: 8.5%;
}


.node-type-media-gallery .pager {
    position: relative;
}
.node-type-media-gallery .item-list .pager-item {
    display: none;
}

.node-type-media-gallery .item-list .pager-first{

    display: none;
}

.node-type-media-gallery .item-list .pager-current{
    display: none;
}

.node-type-media-gallery .item-list .pager-last{

    display: none;
}
.node-type-media-gallery .item-list .pager-previous,
.node-type-media-gallery .item-list .pager-next{
    position: absolute;
    top: 220px;
    top: 38vw;
}
.node-type-media-gallery .item-list .pager-previous a,
.node-type-media-gallery .item-list .pager-next a{
    width: 31px;
    height: 40px;
    width: 5vw;
    height: 10vw;
    border: none;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}
.node-type-media-gallery .item-list .pager-next {
    right: 0;
}
.node-type-media-gallery .item-list .pager-next a {
    background-image: url("../images/arrow-right.png");
}

.node-type-media-gallery .item-list .pager-previous {
    left: 0;
}
.node-type-media-gallery .item-list .pager-previous a{
    background-image: url("../images/arrow-left.png");
}

.node-type-media-gallery .media-thumbnail-frame{
    position: none;
    float: left;
}




.mfp-content {
    text-align: center !important;
}

.mfp-content gallery-thumb-inner img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}


.mfp-arrow:before,
.mfp-arrow:after {
    border: none;

}

button.mfp-arrow-right,
button.mfp-arrow-left {
    width: 67px;
    height: 99px;
    background-repeat: no-repeat;
    background-image: url("../images/arrow-left.png");
}

button.mfp-arrow-right {
    background-image: url("../images/arrow-right.png");
}

button.mfp-close {
}

.menu-galerias {
    background-color: white;
    text-align: center;
    color: black;
    padding-bottom: 50px;
}

.menu-galerias .views-row {
    display: inline-block;
    margin: 5px -5px;
}

.menu-galerias a {
    color: #007537;
    font-weight: bold;
    padding: 0.3em 1.2em;
    border-top: solid 1px #007537;
    border-bottom: solid 1px #007537;
    border-left: solid 1px #007537;
    font-size: 0.8em;
    text-decoration: none;
}

.menu-galerias .views-row.views-row-last a {
    border-right: solid 1px #007537;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;

}
.menu-galerias .views-row.views-row-first a {
    border-left: solid 1px #007537;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}

.menu-galerias a.active {
    background-color: #007537;
    color: white;
}
/* @end */


/* @group Media Query */


/* Custom, iPhone Retina */

@media all and (min-width: 320px) {


    .node-type-media-gallery .field-name-media-gallery-media{
        margin-left: 0;
    }


    .node-type-media-gallery .media-gallery-item{
        margin-left: 0px;
    }

    .node-type-media-gallery .view-header + .view-content,
    #block-block-26 + #block-views-vista-de-articulo-block,
    #block-block-31 + #block-system-main,
    #block-block-36 + #block-system-main,
    .field-name-field-imagen-header + .field-name-body{
        padding:none !important;
    }

    .node-type-media-gallery .media-gallery-collection a .media-gallery-thumb, .media-gallery-media a .media-gallery-thumb, .media-gallery-thumb img{
        margin-left: 0px;
    }

    .node-type-media-gallery .linksBottom{
        margin-left: 37px;
    }

    .node-type-media-gallery .linksBottom img{

        margin-bottom: 10px;
        height: 20px;
        width: auto;
    }
}



@media all and (min-width: 480px) {

    .node-type-media-gallery .linksBottom{
        margin-left: 10px;
    }
    .node-type-media-gallery .item-list .pager-previous a,
    .node-type-media-gallery .item-list .pager-next a{
        width: 7vw;
        height: 14vw;
    }

    .menu-galerias a {
        padding: 0.3em 1.2em;
        border-top: solid 2px #007537;
        border-bottom: solid 2x #007537;
        border-left: solid 1px #007537;
        font-size: 1.3em;
    }

    .menu-galerias .views-row.views-row-last a {
        border-right: solid 2px #007537;
        border-top-right-radius:10px;
        border-bottom-right-radius:10px;

    }
    .menu-galerias .views-row.views-row-first a {
        border-left: solid 2px #007537;
        border-top-left-radius:10px;
        border-bottom-left-radius:10px;
    }
}

.node-type-media-gallery .view-header + .view-content, #block-block-26 + #block-views-vista-de-articulo-block, #block-block-31 + #block-system-main, #block-block-36 + #block-system-main, .field-name-field-imagen-header + .field-name-body{
    padding: none !important;
}


@media all and (min-width: 768px) {


    .node-type-media-gallery .linksBottom{
        margin-left: 145px;
    }

    .node-type-media-gallery .item-list .pager-previous,
    .node-type-media-gallery .item-list .pager-next{
        top: 295px;
    }
    .node-type-media-gallery .item-list .pager-previous a,
    .node-type-media-gallery .item-list .pager-next a{
        width: 55px;
        height: 108px;
    }

    .menu-galerias a {
        padding: 0.3em 1.2em;
        border-top: solid 3px #007537;
        border-bottom: solid 3px #007537;
        border-left: solid 1px #007537;
        font-size: 1.7em;
    }

    .menu-galerias .views-row.views-row-last a {
        border-right: solid 3px #007537;
        border-top-right-radius:10px;
        border-bottom-right-radius:10px;

    }
    .menu-galerias .views-row.views-row-first a {
        border-left: solid 3px #007537;
        border-top-left-radius:10px;
        border-bottom-left-radius:10px;
    }

}

@media all and (min-width: 992) {


    .node-type-media-gallery .linksBottom{
        margin-left: 160px;
    }




}